
<form [formGroup]="editCorrespondItemsForm">

    <mat-accordion #correspondItemsAccordion="matAccordion" [multi]="true" [displayMode]="accordionDisplayMode">

        <mat-toolbar color="accent" class="toolbarItems">

            <mat-icon svgIcon="format-list-bulleted"></mat-icon>
            <h1>&nbsp;&nbsp;Correspondencia</h1>

            <span class="spacer-c"></span>
            <mat-icon svgIcon="calculator"></mat-icon>
            <span>&nbsp;&nbsp;</span>
            <h1 mat-dialog-title>panelOpenCorrespondItems {{panelOpenCorrespondItems}} </h1>
            <span>&nbsp;&nbsp;</span>

            <span class="spacer-r"></span>
            <button type="button" mat-mini-fab color="primary" (click)="addCorrespondItem()">
                <mat-icon svgIcon="plus"></mat-icon>
            </button>

            <button type="button" mat-mini-fab color="primary"
                (click)=" panelOpenCorrespondItems ? correspondItemsAccordion.closeAll() : correspondItemsAccordion.openAll()">
                <i class="mdi mdi-menu-{{panelOpenCorrespondItems ? 'up' : 'down'}} size-mdi-icon"></i>
            </button>
        </mat-toolbar>

        <div formArrayName="correspondItems" class="items">
            <mat-expansion-panel #mep *ngFor="let ci of correspondItems['controls']; let i=index;"
                [expanded]="ci.get('open').value" (opened)="panelOpenCorrespondItems = true"
                (closed)="panelOpenCorrespondItems = false">

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <button mat-mini-fab color="primary" class="miniFabMini">
                            {{ i + 1 }}
                        </button>
                    </mat-panel-title>

                    <mat-panel-description>
                        <span *ngIf="!mep.expanded"> {{ci.get('item').value}} </span>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div [formGroupName]="i">

                    <mat-form-field appearance="outline" class="fullWith">
                        <mat-label>
                            Item
                        </mat-label>
                        <textarea matInput formControlName="item" required></textarea>
                        <mat-error *ngIf="ci.get('item').hasError('required')">
                            <strong>requerido</strong>.
                        </mat-error>
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="fill" class="fullWith">
                        <mat-label>
                            <i class="mdi mdi-checkbox-marked-circle app-input-icon">&nbsp;</i>Correspondencia
                        </mat-label>
                        <input matInput formControlName="correspond" required>
                    </mat-form-field>

                    <mat-action-row>
                        <button type="button" mat-mini-fab color="accent" [disabled]="!correspondItemsDisableBtnSave(i)"
                            (click)="saveCorrespondItems()">
                            <mat-icon svgIcon="content-save"></mat-icon>
                        </button>

                        <button type="button" mat-mini-fab color="warn"
                            (click)="deleteCorrespondItemDialog(deleteDialog.openSimpleDialog(),i)">
                            <mat-icon svgIcon="delete"></mat-icon>
                        </button>
                    </mat-action-row>

                    <nx-simple-dialog #deleteDialog [obj]="ci" [title]=" '¿Desea eliminar el Item ' + (i+1) + '?' "
                        [subtitle]=" 'Items Correspondientes' " dialogTitle="Eliminar Item" actionButton1="Aceptar"
                        [type]=" 'classic' " icon="delete">
                    </nx-simple-dialog>

                </div>

            </mat-expansion-panel>

        </div>

    </mat-accordion>

</form>