<div class="container">

  <mat-card class="mat-elevation-z8">

    <mat-toolbar color="primary">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-placeholder>
          <i class="mdi mdi-magnify"></i>Buscar
        </mat-placeholder>
      </mat-form-field>

      <span class="spacer-r"></span>

      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon svgIcon="book-multiple"></mat-icon>
          &nbsp; Cursos
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>

    <mat-divider></mat-divider>
    <div *ngIf="!isLoading" style="height: 5px;"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Curso </mat-header-cell>
        <mat-cell *matCellDef="let course">

          <mat-list style="flex-grow: 8">
            <mat-list-item>
              <img matListAvatar [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+ course?.chiefTeacher?.avatar.type+';base64,' + course?.chiefTeacher?.avatar.data)"
                alt="{{course?.chiefTeacher?.username}}">
              <h3 matLine> {{course?.name}} </h3>
              <p matLine>
                <span class="role-style">{{course?.chiefTeacher | shortName}}, Profesor Jefe</span>
              </p>
            </mat-list-item>
          </mat-list>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="crud">
        <mat-header-cell *matHeaderCellDef class="add">
          <button mat-mini-fab matTooltip="Agregar Curso" [routerLink]="['./create']" style="margin-bottom:5px">
            <mat-icon svgIcon="book-plus"></mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let course" class="crud">

          <button mat-icon-button color="primary" (click)="$event.stopPropagation()" [routerLink]="['./',course.name]">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>


          <button mat-icon-button color="warn" (click)="deleteDialog.openSimpleDialog();$event.stopPropagation()">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>

          <nx-simple-dialog #deleteDialog
            [obj]="course" 
            [icon]="'book'"
            [dialogTitle]="'Eliminar Curso'"
            [title]="course.name"
            [subtitle]="(course.chiefTeacher | shortName) + ', Profesor Jefe' "
            [message]="'Eliminar este curso?'" 
            [avatar]="course.chiefTeacher.avatar"
            [type]="'delete-classic'"
            (objSelected)="deleteCourse($event)">
          </nx-simple-dialog>
          

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="rowClasses">

      </mat-row>

    </mat-table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>

  </mat-card>


</div>