<div class="container">

  <mat-card class="mat-elevation-z8">

    <mat-toolbar color="primary">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" autocomplete="off">
        <mat-placeholder>
          <i class="mdi mdi-magnify"></i>Buscar por Nombre
        </mat-placeholder>
      </mat-form-field>

      &nbsp;&nbsp;

      <span class="spacer-r"></span>

      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon svgIcon="book-multiple"></mat-icon>
          &nbsp; Cursos
        </mat-chip>
      </mat-chip-list>
      &nbsp;&nbsp;
      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon svgIcon="calendar"></mat-icon>
          &nbsp; {{courseYear | date: 'y'}}
        </mat-chip>
      </mat-chip-list>
      
    </mat-toolbar>

    <div *ngIf="!isLoading" class="divToobar backgroundColorCard"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <table mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex-grow: 2"> Curso </th>
        <td mat-cell *matCellDef="let course" style="flex-grow: 2">

          <mat-list style="flex-grow: 8">
            <mat-list-item>
              <img matListAvatar
                [src]=" 'data:'+ course?.chiefTeacher?.avatar?.type+';base64,' + course?.chiefTeacher?.avatar?.data | safe: 'resourceUrl' "
                alt="{{course?.chiefTeacher?.username}}">
              <h3 matLine> {{course?.name}} </h3>
              <p matLine>
                <span class="role-style">{{course?.chiefTeacher | shortName}}, Profesor Jefe</span>
              </p>
            </mat-list-item>
          </mat-list>

        </td>
      </ng-container>

      <ng-container matColumnDef="crud">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab matTooltip="Agregar Curso" [routerLink]="['./create']" style="margin-bottom: 5px;">
            <mat-icon svgIcon="book-plus"></mat-icon>
          </button>
        </th>

        <td mat-cell *matCellDef="let course">

          <button mat-icon-button color="primary" [routerLink]="['./',course.name]">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>

          <button mat-icon-button color="warn"
            (click)="dialogAction(deleteDialog.openSimpleDialog()); $event.stopPropagation()">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>

          <nx-simple-dialog #deleteDialog
             [obj]="course"
             [icon]=" 'book' "
             [dialogTitle]=" 'Eliminar Curso' "
             [title]="course.name"
             [subtitle]="(course.chiefTeacher | shortName) + ', Profesor Jefe' "
             [message]=" '¿Eliminar este Curso?' "
             [avatar]="course?.chiefTeacher?.avatar"
             [actionButton1]="'Aceptar'"
             [type]=" 'classic' ">
          </nx-simple-dialog>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" @rowAnimation></tr>
      <tr mat-row *matRowDef="let course; columns: displayedColumns;" [routerLink]="['./',course?.name]" @rowAnimation>

      </tr>

    </table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>

  </mat-card>

  <nx-simple-dialog #emptyCoursesDialog
     title="Cursos"
     [subtitle]="courseYear | date: 'y'"
     message=" No hay Cursos registrados para el año {{ courseYear | date: 'y' }} "
     cancelButton="Cerrar"
     type="card">
 </nx-simple-dialog>

</div>