.container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    min-width: fit-content;
}

mat-card {
    text-align: center;
    width: 500px;
    min-width: 450px;
    height: fit-content;
    margin: 20px;
    overflow: hidden;
}

h1 {
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
}
