<div class="container">

  <mat-card class="mat-elevation-z8">

    <form [formGroup]="createForm" (ngSubmit)="createCourse()">

      <mat-toolbar class="toolbar1" color="primary">
        <mat-form-field [floatLabel]=" 'never' ">

          <mat-select formControlName="num" required>
            <mat-option *ngFor="let courseNumber of courseNumbers" [value]="courseNumber.viewValue">
              {{courseNumber.viewValue}}
            </mat-option>
          </mat-select>

          <mat-label>
            <i class="mdi mdi-book-variant app-input-icon">&nbsp;</i>Grado
          </mat-label>

          <mat-error *ngIf="num.hasError('required')">Grado es
            <strong>requerido</strong>.
          </mat-error>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field [floatLabel]=" 'never' ">

          <mat-select formControlName="letter" required>
            <mat-option *ngFor="let courseName of courseLetters" [value]="courseName.viewValue">
              {{courseName.viewValue}}
            </mat-option>
          </mat-select>

          <mat-label>
            <i class="mdi mdi-book-variant app-input-icon">&nbsp;</i>Letra
          </mat-label>

          <mat-error *ngIf="letter.hasError('required')">Letra es
            <strong>requerido</strong>.
          </mat-error>
        </mat-form-field>

        &nbsp;&nbsp;

        <nx-multi-date-picker mode="YEAR" label="Año" [max]="currentDate" formControlName="year"
         customFormFieldClass="customFormFieldCreate"  floatLabel = "never"> <!--(dateChange)="onDateChange($event)"-->
        </nx-multi-date-picker>

        <span class="spacer-r"></span>
        <mat-chip-list>
          <mat-chip color="accent" selected="true">
            <mat-icon svgIcon="book"></mat-icon>
            &nbsp; {{num.value}}-{{letter.value}}
          </mat-chip>
        </mat-chip-list>
        &nbsp;&nbsp;
        <mat-chip-list>
          <mat-chip color="accent" selected="true">
            <mat-icon svgIcon="calendar"></mat-icon>
            &nbsp; {{year.value | date: 'y'}}
          </mat-chip>
        </mat-chip-list>

      </mat-toolbar>

      <div *ngIf="!isLoading" class="mat-toolbar divToobar"></div>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

      <mat-toolbar class="toolbar2">

        <mat-list *ngIf="(chiefTeacher) as t">
          <mat-list-item>

            <img matListAvatar [src]=" 'data:'+t?.avatar?.type+';base64,' + t?.avatar?.data | safe: 'resourceUrl' "
              alt="{{t?.username}}"
              (click)="openUserCardCrud(cardTeacherDialog.openDialogCardUser()); $event.stopPropagation()">
            <h3 matLine>{{ t | shortName}}</h3>
            <p matLine>
              <span class="role-style">Profesor Jefe</span>
            </p>
          </mat-list-item>
        </mat-list>


        <button type="button" *ngIf="!chiefTeacher" mat-mini-fab color="accent" matTooltip="Agregar Docente"
          (click)="changeTeacherDialog.openDialogSearchUser()">
          <mat-icon svgIcon="account-plus"></mat-icon>
        </button>

        <p matLine *ngIf="!chiefTeacher">
          <span class="teacher">Profesor Jefe *</span>
        </p>

        <button type="button" *ngIf="chiefTeacher" mat-mini-fab color="accent" matTooltip="Cambiar Docente"
          (click)="changeTeacherDialog.openDialogSearchUser()">
          <mat-icon svgIcon="account-edit"></mat-icon>
        </button>

        <span class="spacer-r"></span>

        <button type="button" *ngIf="chiefTeacher" mat-icon-button color="primary"
          (click)="crudTeacherDialog.openDialogDetail()">
          <mat-icon svgIcon="eye"></mat-icon>
        </button>


        <nx-crud-user-dialog #crudTeacherDialog [user]="chiefTeacher" [uriUsersRole]="uriTeachers" [areaRole]="areaRole"
          [onlyRead]="crudUserOnlyRead"></nx-crud-user-dialog>

        <nx-search-user-dialog #changeTeacherDialog [userRole]="'TEACHER'" (userSelected)="addTeacher($event)">
        </nx-search-user-dialog>

        <nx-card-user-dialog #cardTeacherDialog [user]="chiefTeacher" [areaRole]="areaRole"
          [onlyRead]="crudUserOnlyRead"></nx-card-user-dialog>

      </mat-toolbar>
      <mat-divider></mat-divider>

      <table mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="student">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex-grow: 2"> Nombre </th>
          <td mat-cell *matCellDef="let student" style="flex-grow: 2">

            <mat-list>
              <mat-list-item>
                <img matListAvatar
                  [src]=" 'data:'+student?.avatar?.type+';base64,' + student?.avatar?.data | safe: 'resourceUrl' "
                  alt="{{student?.username}}"
                  (click)="openUserCardCrud(cardStudentDialog.openDialogCardUser()); $event.stopPropagation()">
                <h3 matLine *ngIf="student"> {{student | shortName}} </h3>
                <p matLine>
                  <span class="role-style">{{student?.roles | rolesToSpanish}}</span>
                </p>
              </mat-list-item>
            </mat-list>
            <nx-card-user-dialog #cardStudentDialog [user]="student" [areaRole]="areaRole"
              [onlyRead]="crudUserOnlyRead"></nx-card-user-dialog>
          </td>
        </ng-container>

        <ng-container matColumnDef="crud">
          <th mat-header-cell *matHeaderCellDef>
            <button type="button" mat-mini-fab matTooltip="Agregar Estudiante"
              (click)="addStudentDialog.openDialogSearchUser()">
              <mat-icon svgIcon="account-plus"></mat-icon>
            </button>
            <nx-search-user-dialog #addStudentDialog [userRole]="'STUDENT'" (userSelected)="addStudent($event)">
            </nx-search-user-dialog>
            <nx-simple-dialog #duplicatedDialog
               title="Agregar Estudiante"
               subtitle="Error"
               [message]="'Estudiante Duplicado'"
               [cancelButton]="'Aceptar'"
               [type]="'card'">
            </nx-simple-dialog>
          </th>

          <td mat-cell *matCellDef="let student">

            <button type="button" mat-icon-button color="primary"
              (click)="crudStudentDialog.openDialogDetail(); $event.stopPropagation()">
              <mat-icon svgIcon="eye"></mat-icon>
            </button>

            <button type="button" mat-icon-button color="warn"
              (click)="deleteStudent(deleteDialog.openSimpleDialog()); $event.stopPropagation()">
              <mat-icon svgIcon="account-minus"></mat-icon>
            </button>

            <nx-simple-dialog #deleteDialog
               [obj]="student"
               [title]="student | shortNameLastname"
               [subtitle]="student.roles | rolesToSpanish"
               [message]="'Eliminar de este Curso?'"
               [avatar]="student?.avatar"
               [actionButton1]="'Aceptar'"
               [type]="'card'">
            </nx-simple-dialog>

            <nx-crud-user-dialog #crudStudentDialog [user]="student" [uriUsersRole]="uriStudents" [areaRole]="areaRole"
              [onlyRead]="crudUserOnlyRead"></nx-crud-user-dialog>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" @rowAnimation></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" @rowAnimation></tr>

      </table>

      <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
      </mat-paginator>

      <mat-divider></mat-divider>

      <mat-toolbar>
        <button type="button" mat-raised-button color="primary" tabindex="1" (click)="gotoCourses()"
          cdkFocusRegionstart>
          <!--<mat-icon svgIcon="arrow-left"></mat-icon>-->Volver
        </button>
        <span class="spacer-r"></span>
        <button type="submit" mat-raised-button color="accent" tabindex="2"
          [disabled]="createForm.invalid || createForm.pristine">
          <!--<mat-icon svgIcon="content-save"></mat-icon>-->Guardar
        </button>
      </mat-toolbar>

    </form>

  </mat-card>

</div>