<form [formGroup]="editIncompleteTextItemsForm">
    <mat-accordion #incompleteTextItemsAccordion="matAccordion" [multi]="true" [displayMode]="accordionDisplayMode">

        <mat-toolbar color="accent" class="toolbarItems">

            <mat-icon svgIcon="format-list-bulleted"></mat-icon>
            <span>&nbsp;&nbsp;</span>
            <h1 mat-dialog-title>Respuesta Corta</h1>

            <span class="spacer-c"></span>
            <mat-icon svgIcon="calculator"></mat-icon>
            <span>&nbsp;&nbsp;</span>
            <h1 mat-dialog-title>Ponderación % </h1>

            <span class="spacer-r"></span>
            <button type="button" mat-mini-fab color="primary" (click)="addIncompleteTextItem()">
                <mat-icon svgIcon="plus"></mat-icon>
            </button>

            <button type="button" mat-mini-fab color="primary"
                (click)=" panelOpenIncompleteTextItems ? incompleteTextItemsAccordion.closeAll() : incompleteTextItemsAccordion.openAll()">
                <i class="mdi mdi-menu-{{panelOpenIncompleteTextItems ? 'up' : 'down'}} size-mdi-icon"></i>
            </button>

        </mat-toolbar>

        <div formArrayName="incompleteTextItems" class="items">
            <mat-expansion-panel #mep *ngFor="let it of incompleteTextItems['controls'] ; let i=index;"
                [expanded]="it.get('open').value" (opened)="panelOpenIncompleteTextItems = true"
                (closed)="panelOpenIncompleteTextItems = false">

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <button mat-mini-fab color="primary" class="miniFabMini">
                            {{ i + 1 }}
                        </button>
                    </mat-panel-title>
                    <mat-panel-description>
                        <span *ngIf="!mep.expanded"> {{it.get('sentence').value}} </span>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div [formGroupName]="i">
                    <mat-form-field appearance="outline" class="fullWith">
                        <mat-label>
                            Sentencia
                        </mat-label>
                        <textarea matInput formControlName="sentence" required></textarea>

                    </mat-form-field>

                    <br>
                    <mat-form-field appearance="fill" class="fullWith">
                        <mat-label>
                            <i class="mdi mdi-checkbox-marked-circle app-input-icon">&nbsp;</i>Respuesta
                        </mat-label>
                        <input matInput formControlName="answer" required>
                    </mat-form-field>

                    <mat-action-row>
                        <button type="button" mat-mini-fab color="accent" [disabled]="!incompleteTextItemsDisableBtnSave(i)"
                            (click)="saveIncompleteTextItems()">
                            <mat-icon svgIcon="content-save"></mat-icon>
                        </button>

                        <button type="button" mat-mini-fab color="warn"
                            (click)="deleteIncompleteTextItemDialog(deleteIncompleteTextItem.openSimpleDialog(),i)">
                            <mat-icon svgIcon="delete"></mat-icon>
                        </button>
                    </mat-action-row>
                    <nx-simple-dialog #deleteIncompleteTextItem [obj]="it"
                        [title]=" '¿Desea eliminar el Item ' + (i+1) + '?' " [subtitle]=" 'Texto Incompleto' "
                        [dialogTitle]=" 'Eliminar Item' " [actionButton1]=" 'Aceptar' " [type]=" 'classic' "
                        [icon]=" 'delete' ">
                    </nx-simple-dialog>

                </div>
            </mat-expansion-panel>
        </div>

    </mat-accordion>
</form>