<div class="container">

  <!-- -->
  <mat-toolbar color="accent" class="toolbarMenu"
    *animIf="enableToolbar; info: { startAnim: 'fadeIn', endAnim: 'fadeOut', time: 1000 }">

    <button *ngFor="let m of toolbarMenus" mat-button [routerLink]="m.route" routerLinkActive="active">{{m.name}}
    </button>
    <span class="spacer-r"></span>

  </mat-toolbar>

  <!-- #routerInAnim="animated" [animAted]="{time: 1000, animation: 'fadeIn'}" -->
  <!-- *animIf="enableToolbar; info: { startAnim: 'lightSpeedIn', endAnim: 'lightSpeedOut', time: 1000 }" -->
  <div class="content" [@subjectRouteAnimations]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>

  <!-- [style.display]="!enableToolbar? '' : 'none'"-->
  <!---->
  <mat-card class="mat-elevation-z8" *animIf="!enableToolbar; info: { startAnim: 'slideInLeft', endAnim: 'slideOutRight', time: 1000 }" >

    <mat-toolbar color="primary">

      <mat-form-field [floatLabel]=" 'never' ">
        <mat-select #select [disabled]="isSelectCourseDisabled">
          <mat-option *ngFor="let c of courses" [value]="c.name">
            {{c.name}}
          </mat-option>
        </mat-select>
        <mat-label>Seleccione un Curso</mat-label>
      </mat-form-field>

      <span class="spacer-r"></span>

      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon svgIcon="school"></mat-icon>
          &nbsp; <span *ngIf="areaRole === roleTeacher">Mis &nbsp;</span> Asignaturas
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>

    <div *ngIf="!isLoading" class="mat-toolbar divToobar"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <mat-toolbar class="toolbar2">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" [disabled]="isSeachDisabled">
        <mat-placeholder>
          <i class="mdi mdi-magnify"></i>Buscar Asignatura
        </mat-placeholder>
      </mat-form-field>

    </mat-toolbar>
    <mat-divider style="position: relative;"></mat-divider>

    <table mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex-grow: 2"> Asignatura </th>
        <td mat-cell *matCellDef="let subject" style="flex-grow: 2">

          <mat-list>
            <mat-list-item>
              <img matListAvatar
                [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+ subject?.teacher?.avatar.type+';base64,' + subject?.teacher?.avatar.data)"
                alt="{{subject?.teacher?.username}}">
              <h3 matLine>{{subject?.name}} </h3>
              <p matLine>
                <span class="role-style">{{subject?.course?.name}} / {{subject?.teacher | shortName}}</span>
              </p>
            </mat-list-item>
          </mat-list>

        </td>
      </ng-container>

      <ng-container matColumnDef="crud">
        <th mat-header-cell *matHeaderCellDef>
          <button *ngIf="areaRole === roleManager" mat-mini-fab matTooltip="Agregar Asignatura"
            (click)="openDialogCreate()" [disabled]="isBtnAddDisabled">
            <mat-icon svgIcon="plus"></mat-icon>
          </button>
        </th>

        <td mat-cell *matCellDef="let subject">

          <button mat-icon-button color="primary" [routerLink]="['./course', subject.id ]"
            (mousedown)="subjectId= subject.id">
            <!-- (click)="routerInAnim.animate()"-->
            <mat-icon svgIcon="eye"></mat-icon>
          </button>

          <button *ngIf="areaRole === roleManager" mat-icon-button color="accent"
            (click)="openDialogEdit(subject); $event.stopPropagation()">
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>

          <button *ngIf="areaRole === roleManager" mat-icon-button color="warn"
            (click)="openDialogDelete(subject); $event.stopPropagation()">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>

          <!--  <nx-simple-dialog #deleteSubjectDialog
          [obj]="subject"
          [icon]=" 'school' "
          [dialogTitle]=" 'Eliminar Asignatura' "
          [message]=" 'Eliminar esta Asignatura?' "
          [title]="subject?.name + '/' + subject?.course?.name"
          [subtitle]="(subject?.teacher | shortName) + ', Profesor' "
          [avatar]="subject?.teacher?.avatar"
          [type]=" 'classic' ">
        </nx-simple-dialog> -->

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" @rowAnimation></tr>
      <tr mat-row *matRowDef="let subject; columns: displayedColumns;" [ngClass]=" isDark ? 'fila-dark' : 'fila' "
        [routerLink]="['./course', subject.id ]" @rowAnimation (mousedown)="subjectId= subject.id">
        <!-- (click)="routerInAnim.animate()"-->

      </tr>

    </table>

    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>

  </mat-card>


</div>