<div class="container">

  <mat-card class="mat-elevation-z8">

    <mat-toolbar color="primary">

      <mat-form-field [floatLabel]=" 'never' ">
        <mat-select #matSelect [disabled]= "isSelectCourseDisabled">
          <mat-option *ngFor="let c of courses" [value]="c.name">
            {{c.name}}
          </mat-option>
        </mat-select>
        <mat-label>Seleccione un Curso</mat-label>
      </mat-form-field>

      <span class="spacer-r"></span>

      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon svgIcon="school"></mat-icon>
          &nbsp; <span *ngIf="areaRole === roleTeacher">Mis &nbsp;</span> Asignaturas
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>

    <div *ngIf="!isLoading" style="height: 5px;" class="mat-toolbar"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <mat-toolbar class="toolbar2">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" [disabled]= "isSeachDisabled">
        <mat-placeholder>
          <i class="mdi mdi-magnify"></i>Buscar Asignatura
        </mat-placeholder>
      </mat-form-field>

    </mat-toolbar>
    <mat-divider></mat-divider>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="flex-grow: 2"> Asignatura </mat-header-cell>
        <mat-cell *matCellDef="let subject" style="flex-grow: 2">

          <mat-list>
            <mat-list-item>
              <img matListAvatar
                [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+ subject?.teacher?.avatar.type+';base64,' + subject?.teacher?.avatar.data)"
                alt="{{subject?.teacher?.username}}">
              <h3 matLine>{{subject?.name}} </h3>
              <p matLine>
                <span class="role-style">{{subject?.course?.name}} / {{subject?.teacher | shortName}}</span>
              </p>
            </mat-list-item>
          </mat-list>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="crud">
        <mat-header-cell *matHeaderCellDef class="crud">
          <button *ngIf="areaRole === roleManager" mat-mini-fab matTooltip="Agregar Asignatura"
            (click)="openDialogCreate()" [disabled]= "isBtnAddDisabled">
            <mat-icon svgIcon="plus"></mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let subject" class="crud">

          <button mat-icon-button color="primary" [routerLink]="['./detail/' + subject.id + '/course', subject.id ]">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>

          <button *ngIf="areaRole === roleManager" mat-icon-button color="accent"
            (click)="openDialogEdit(subject); $event.stopPropagation()">
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>

          <button *ngIf="areaRole === roleManager" mat-icon-button color="warn"
            (click)="openDialogDelete(subject); $event.stopPropagation()">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>

          <!--  <nx-simple-dialog #deleteSubjectDialog
            [obj]="subject"
            [icon]=" 'school' "
            [dialogTitle]=" 'Eliminar Asignatura' "
            [message]=" 'Eliminar esta Asignatura?' "
            [title]="subject?.name + '/' + subject?.course?.name"
            [subtitle]="(subject?.teacher | shortName) + ', Profesor' "
            [avatar]="subject?.teacher?.avatar"
            [type]=" 'classic' ">
          </nx-simple-dialog> -->

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let subject; columns: displayedColumns;" [ngClass]=" isDark ? 'fila-dark' : 'fila' "
        [routerLink]="['./detail/' + subject.id + '/course', subject.id ]">

      </mat-row>

    </mat-table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>

  </mat-card>


</div>