<div class="container">

  <mat-card class="mat-elevation-z8">

    <mat-toolbar color="primary">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-placeholder>
          <i class="mdi mdi-magnify"></i>Buscar
        </mat-placeholder>
      </mat-form-field>

      <span class="spacer-r"></span>

      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon svgIcon="account-multiple"></mat-icon>
          &nbsp; Asignaturas
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>

    <mat-divider></mat-divider>

    <div *ngIf="!isLoading" style="height: 5px;"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Asignatura </mat-header-cell>
        <mat-cell *matCellDef="let subject">

          <mat-list style="flex-grow: 8">
            <mat-list-item>
              <img matListAvatar [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+ subject?.teacher?.avatar.type+';base64,' + subject?.teacher?.avatar.data)"
              alt="{{subject?.teacher?.username}}">
              <h3 matLine>{{subject?.name}} </h3>
              <p matLine>
                <span class="role-style">{{subject?.course?.name}} - {{subject?.teacher | shortName}}</span>
              </p>
            </mat-list-item>
          </mat-list>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="crud">
        <mat-header-cell *matHeaderCellDef class="add">
          <button mat-mini-fab matTooltip="Agregar Asignatura" style="margin-bottom:5px" (click)="openDialogCreate()">
            <mat-icon svgIcon="account-plus"></mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let subject" class="crud">

          <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="crudUserDialog.openDialogDetail()"><mat-icon svgIcon="eye"></mat-icon> Profesor</button>
            <button mat-menu-item [routerLink]="['../courses/detail',subject?.course?.name]"><mat-icon svgIcon="eye"></mat-icon> Curso</button>
          </mat-menu>
          <nx-crud-user-dialog #crudUserDialog [user]="subject?.teacher" [uriRole]="'/teachers'" [areaRole]="'manager'"></nx-crud-user-dialog>

          <button mat-icon-button color="accent" (click)="openDialogEdit(subject) ;$event.stopPropagation()">
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="deleteDialog.openSimpleDialog();$event.stopPropagation()">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>

          <nx-simple-dialog #deleteDialog [obj]="subject" [icon]="'school'" [dialogTitle]= "'Borrar Asignatura'" [message]="'Eliminar esta Asignatura?'" [title]="subject.name + '/' + subject.course.name"
          [subtitle]="(subject.teacher | shortName) + ', Profesor' " [avatar]="subject.teacher.avatar" [type]="'delete-classic'"
          (objSelected)="deleteSubject($event)"></nx-simple-dialog>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="rowClasses">

      </mat-row>

    </mat-table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>

  </mat-card>


</div>