<mat-toolbar class="fixed-header" color="primary">

    <span>
        <button type="button" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </span>

    <span>
        <a class="nav-link home" routerLink=''>
            <img alt="Home" title="Home" src="assets/images/logos/ese-logo.png">
        </a>
    </span>
    <span class="spacer"></span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>

</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Chat</button>
    <button mat-menu-item>Logout</button>
</mat-menu>


<mat-sidenav-container>

    <!-- sidenav content -->
    <mat-sidenav mode="side" opened="true" #sidenav class="mySidenav">

        <mat-toolbar color="default">
            <mat-list>
                <mat-list-item>
                    <img matListAvatar src="https://angular.io/generated/images/bios/jelbourn.jpg" alt="imagen del profesor">
                    <h3 matLine> Salvador Salinas </h3>
                    <p matLine style="color: rgba(0, 0, 0, 0.54);">
                        <span>Docente</span>
                    </p>
                </mat-list-item>
            </mat-list>
            <mat-toolbar-row></mat-toolbar-row>
        </mat-toolbar>


        <mat-nav-list>

            <mat-list-item routerLink="/" routerLinkActive="active">
                <mat-icon matListIcon>home</mat-icon>
                <h3 matLine>Home</h3>
            </mat-list-item>


            <mat-list-item (click)="triggerAsignaturas = !triggerAsignaturas">
                <mat-icon matListIcon>school</mat-icon>
                <h3 matLine>Asignaturas</h3>
                <mat-icon >arrow_drop_down</mat-icon>
            </mat-list-item>

            <div >

                <mat-list-item (click)="triggerMat = !triggerMat">
                    <mat-icon matListIcon></mat-icon>
                    <h3 matLine>Matemáticas</h3>
                    <mat-icon>arrow_drop_down</mat-icon>
                </mat-list-item>

                <div >

                    <mat-list-item routerLink="/social" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <mat-icon matListIcon>supervisor_account</mat-icon>
                        <h3 matLine>1-B</h3>
                    </mat-list-item>

                    <mat-list-item routerLink="/social" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <mat-icon matListIcon>supervisor_account</mat-icon>
                        <h3 matLine>2-B</h3>
                    </mat-list-item>

                    <mat-list-item routerLink="/social" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <mat-icon matListIcon>supervisor_account</mat-icon>
                        <h3 matLine>3-B</h3>
                    </mat-list-item>

                </div>

                <mat-list-item (click)="triggerHist = !triggerHist">
                    <mat-icon matListIcon></mat-icon>
                    <h3 matLine>Historia</h3>
                    <mat-icon >arrow_drop_down</mat-icon>
                </mat-list-item>

                <div >

                    <mat-list-item routerLink="/social" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <mat-icon matListIcon>supervisor_account</mat-icon>
                        <h3 matLine>1-B</h3>
                    </mat-list-item>

                    <mat-list-item routerLink="/social" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <mat-icon matListIcon>supervisor_account</mat-icon>
                        <h3 matLine>2-B</h3>
                    </mat-list-item>

                    <mat-list-item routerLink="/social" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <mat-icon matListIcon>supervisor_account</mat-icon>
                        <h3 matLine>3-B</h3>
                    </mat-list-item>

                </div>



                <mat-list-item routerLink="/social" routerLinkActive="active">
                    <mat-icon matListIcon></mat-icon>
                    <h3 matLine>Lenguaje</h3>
                </mat-list-item>

            </div>


            <mat-list-item (click)="triggerPruebas = !triggerPruebas">
                <mat-icon matListIcon>description</mat-icon>
                <h3 matLine>Pruebas</h3>
                <mat-icon >arrow_drop_down</mat-icon>
            </mat-list-item>

            <div >
                <mat-list-item routerLink="/login" routerLinkActive="active">
                    <mat-icon matListIcon></mat-icon>
                    <h3 matLine>Tomar Prueba</h3>
                </mat-list-item>

                <mat-list-item routerLink="/login" routerLinkActive="active">
                    <mat-icon matListIcon></mat-icon>
                    <h3 matLine>Crear Prueba</h3>
                </mat-list-item>

                <mat-list-item routerLink="/login" routerLinkActive="active">
                    <mat-icon matListIcon></mat-icon>
                    <h3 matLine>Historial Pruebas</h3>
                </mat-list-item>
            </div>


            <mat-list-item routerLink="/dgsgdf" routerLinkActive="active">
                <mat-icon matListIcon>cancel</mat-icon>
                <h3 matLine>404</h3>
            </mat-list-item>

        </mat-nav-list>


    </mat-sidenav>


    <!-- primary content -->
    <div class="my-content">
        <router-outlet></router-outlet>
    </div>


</mat-sidenav-container>