.snackBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 64px;
    opacity: 0.75;
}

.logoItem {
    padding-left: 20px
}

.messageItem {
    padding: 20px;
    overflow: hidden;
}

.btnItem {
    align-self: flex-start;
}

.snackIcon {
    font-size: 24px;
}