.snackBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    opacity: 0.75;
    --box-shadow: 10px 10px 5px grey;
    --font-size: 0.95em;
}

.logoItem {
    padding: 0 20px;
}

.messageItem {
    padding: 0 20px;
}

.btnItem {
    align-self: flex-start;
}

.snackIcon {
    font-size: 24px;
}