<div class="container">

  <mat-card class="mat-elevation-z8">

    <mat-toolbar color="primary">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-placeholder>
          <i class="mdi mdi-magnify"></i>Buscar
        </mat-placeholder>
      </mat-form-field>
      <span class="spacer-r"></span>
      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon svgIcon="book"></mat-icon>
          &nbsp; {{course?.name}}/{{course?.year}}
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>

    <div *ngIf="!isLoading" style="height: 5px;" class="mat-toolbar"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <mat-toolbar class="toolbar2">
      <mat-list style="flex-grow: 8">
        <mat-list-item>
          
          <img matListAvatar *ngIf="(chiefTeacher) as t" [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+t?.avatar?.type+';base64,' + t?.avatar?.data)"
            alt="{{t?.username}}" (click)="openUserCardCrud(cardTeacherDialog.openDialogCardUser()); $event.stopPropagation()">
          <h3 matLine *ngIf="(chiefTeacher) as t">{{ t | shortNameLastname}}</h3>

          <p matLine>
            <span class="role-style">Profesor Jefe</span>
          </p>

          <nx-card-user-dialog #cardTeacherDialog [user]="chiefTeacher" [areaRole]="areaRole"></nx-card-user-dialog>
         <!-- (click)="userDetail(teacherDetailDialog.openSimpleDialog()); $event.stopPropagation()"
          <nx-simple-dialog #teacherDetailDialog
          [obj]="chiefTeacher" 
          [title]="chiefTeacher | shortNameLastname"
          [subtitle]="chiefTeacher.roles | rolesToSpanish"
          [avatar]="chiefTeacher?.avatar"
          [actionButton1]="'Detalles'"
          [type]="'card'">
        </nx-simple-dialog>
          <nx-image-zoom-user #imageZoomT [avatar]="chiefTeacher?.avatar"></nx-image-zoom-user>-->

          
          <button mat-icon-button color="primary" (click)="crudTeacherDialog.openDialogDetail()">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>

          <button mat-icon-button color="accent" matTooltip="Cambiar Profesor" (click)="changeTeacherDialog.openDialogSearchUser()">
            <mat-icon svgIcon="account-edit"></mat-icon>
          </button>

        </mat-list-item>
      </mat-list>
      <!--@ViewChild--><nx-crud-user-dialog></nx-crud-user-dialog>
      <nx-crud-user-dialog #crudTeacherDialog [user]="chiefTeacher" [uriRole]="'/teachers'" [areaRole]="areaRole"></nx-crud-user-dialog>
      <nx-search-user-dialog #changeTeacherDialog [userRole]="roleTeacher" (userSelected)="changeTeacher($event)">
      </nx-search-user-dialog>


    </mat-toolbar>
    <mat-divider></mat-divider>


    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let student">

          <mat-list style="flex-grow: 8">
            <mat-list-item>
              <img matListAvatar
                [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+student?.avatar?.type+';base64,' + student?.avatar?.data)"
                alt="{{student?.username}}"
                (click)="openUserCardCrud(cardStudentDialog.openDialogCardUser()); $event.stopPropagation()">
              <h3 matLine *ngIf="student"> {{student | shortNameLastname}} </h3>
              <p matLine>
                <span class="role-style">{{student?.roles | rolesToSpanish}}</span>
              </p>
            </mat-list-item>
          </mat-list>
          <nx-card-user-dialog #cardStudentDialog [user]="student" [areaRole]="areaRole"></nx-card-user-dialog>
         <!--<nx-image-zoom-user #imageZoomS [avatar]="student?.avatar"></nx-image-zoom-user>-->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="crud">
        <mat-header-cell *matHeaderCellDef class="add">
          <button mat-mini-fab matTooltip="Agregar Estudiante" (click)="addStudentDialog.openDialogSearchUser()">
            <mat-icon svgIcon="account-plus"></mat-icon>
          </button>
          <nx-search-user-dialog #addStudentDialog [userRole]="roleStudent" (userSelected)="addStudentToDataSource($event)">
          </nx-search-user-dialog>
        </mat-header-cell>

        <mat-cell *matCellDef="let student" class="crud">

          <button mat-icon-button color="primary" (click)="crudStudentDialog.openDialogDetail(); $event.stopPropagation()">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="deleteStudent(deleteDialog.openSimpleDialog()); $event.stopPropagation()">
            <mat-icon svgIcon="account-minus"></mat-icon>
          </button>

         <!--<nx-search-user-dialog #deleteStudentDialog [userRole]="roleStudent" [user]="student" (userSelected)="deleteStudent($event)"> 
          </nx-search-user-dialog>-->

          <nx-crud-user-dialog #crudStudentDialog [user]="student" [uriRole]="'/students'" [areaRole]="areaRole"></nx-crud-user-dialog>
          <nx-simple-dialog #deleteDialog
            [obj]="student" 
            [title]="student | shortNameLastname"
            [subtitle]="student?.roles | rolesToSpanish"
            [message]=" '¿Eliminar del ' + course?.name + '/' + course?.year + '?' " 
            [avatar]="student?.avatar"
            [cancelButton]=" 'Descartar' "
            [type]=" 'card' ">
          </nx-simple-dialog>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]=" isDark ? 'fila-dark' : 'fila' "></mat-row>

    </mat-table>
    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>

    <mat-divider></mat-divider>
    <mat-toolbar>
      <button type="button" mat-flat-button color="primary" tabindex="1" (click)="gotoCourses()" cdkFocusRegionstart>
        <!--<mat-icon svgIcon="arrow-left"></mat-icon>-->Volver
      </button>
      <span class="spacer-r"></span>
      <button type="submit" mat-flat-button color="accent" tabindex="2" (click)="saveCourse()" [disabled]="btnDisabled">
        <!--<mat-icon svgIcon="content-save"></mat-icon>-->Guardar
      </button>

    </mat-toolbar>

  </mat-card>

</div>