<div class="container">

  <mat-card class="mat-elevation-z8">

    <mat-toolbar>

      <mat-toolbar-row>
        <mat-form-field>
          <input matInput>
          <mat-placeholder>
            <i class="mdi mdi-magnify material-icons"></i>Buscar
          </mat-placeholder>
        </mat-form-field>
        <span class="spacer-r"></span>
        <mat-chip-list>
          <mat-chip color="primary" selected="true">
            <mat-icon svgIcon="account-multiple"></mat-icon>
            &nbsp; {{course?.name}}
          </mat-chip>
        </mat-chip-list>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <mat-list style="flex-grow: 8">
          <mat-list-item>
            <img matListAvatar *ngIf="(chiefTeacher) as t" [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+t?.avatar.type+';base64,' + t?.avatar.data)"
              alt="{{t?.username}}">
            <h3 matLine *ngIf="(chiefTeacher) as t">{{ t | shortName}}</h3>
            <p matLine>
              <span class="role-style">Profesor Jefe</span>
            </p>
            <span class="spacer-r"></span>
            <button mat-icon-button color="primary" (click)="crudUserDialogT.openDialogDetail()">
              <mat-icon svgIcon="eye"></mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="Cambiar Profesor" (click)="changeTeacherDialog.openDialogSearchUser()">
              <mat-icon svgIcon="account-edit"></mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <nx-crud-user-dialog #crudUserDialogT [user]="chiefTeacher" [uriRole]="'/teachers'" [areaRole]="'MANAGER'"></nx-crud-user-dialog>
        <nx-search-user-dialog #changeTeacherDialog [userRole]="'TEACHER'" (userSelected)="changeTeacher($event)">
        </nx-search-user-dialog>
      </mat-toolbar-row>

    </mat-toolbar>
    <mat-divider></mat-divider>
    <div *ngIf="!isLoading" style="height: 5px;"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <mat-table #table [dataSource]="dataSource" matSort *ngIf="course?.students">

      <ng-container matColumnDef="student">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let student">

          <mat-list style="flex-grow: 8">
            <mat-list-item>
              <img matListAvatar [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+student?.avatar.type+';base64,' + student?.avatar.data)"
                alt="{{student?.username}}">
              <h3 matLine *ngIf="student"> {{student | shortName}} </h3>
              <p matLine>
                <span class="role-style">{{student?.roles | rolesToSpanish}}</span>
              </p>
            </mat-list-item>
          </mat-list>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="crud">
        <mat-header-cell *matHeaderCellDef class="add">
          <button mat-mini-fab matTooltip="Agregar Estudiante" (click)="addStudentDialog.openDialogSearchUser()">
            <mat-icon svgIcon="account-plus"></mat-icon>
          </button>
          <nx-search-user-dialog #addStudentDialog [userRole]="'STUDENT'" (userSelected)="addStudent($event)">
          </nx-search-user-dialog>
        </mat-header-cell>

        <mat-cell *matCellDef="let student" class="crud">

          <button mat-icon-button color="primary" (click)="crudUserDialog.openDialogDetail(); $event.stopPropagation()">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="deleteStudentDialog.openDialogSearchUser();$event.stopPropagation()">
            <mat-icon svgIcon="account-minus"></mat-icon>
          </button>

          <nx-search-user-dialog #deleteStudentDialog [userRole]="'STUDENT'" [user]="student" (userSelected)="deleteStudent($event)">
          </nx-search-user-dialog>

          <nx-crud-user-dialog #crudUserDialog [user]="student" [uriRole]="'/students'" [areaRole]="'manager'"></nx-crud-user-dialog>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="rowClasses">

      </mat-row>

    </mat-table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  
    <mat-toolbar>
      <button type="button" mat-raised-button color="primary" tabindex="1" (click)="gotoCourses()" cdkFocusRegionstart>Volver</button>
    </mat-toolbar>
  </mat-card>

</div>