<div class="container">
  
  <mat-card class="mat-elevation-z8">

    <mat-toolbar color="primary">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-placeholder>
          <i class="mdi mdi-magnify"></i>Buscar Estudiante
        </mat-placeholder>
      </mat-form-field>

      <span class="spacer-r"></span>
      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon svgIcon="school"></mat-icon>
          &nbsp; {{subject?.name}} {{subject?.course?.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>

    <div *ngIf="!isLoading" class="divToobar" [class.mat-toolbar]="areaRole !== roleTeacher"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <mat-toolbar class="toolbar2" *ngIf="areaRole !== roleTeacher">
      <mat-list>
        <mat-list-item>
          <img matListAvatar *ngIf="(teacher) as t"
            [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+t?.avatar.type+';base64,' + t?.avatar.data)"
            alt="{{t?.username}}"
            (click)="openUserCardCrud(cardTeacherDialog.openDialogCardUser()); $event.stopPropagation()">
          <nx-card-user-dialog #cardTeacherDialog [user]="teacher" [areaRole]="areaRole" [onlyRead]="crudUserOnlyRead">
          </nx-card-user-dialog>

          <h3 matLine>
            <ng-container *ngIf="(teacher) as t">{{ t | shortNameLastname}}</ng-container>
          </h3>

          <p matLine>
            <span class="role-style">Profesor</span>
          </p>

          <!-- <button *ngIf="(teacher)" mat-icon-button color="primary"
          (click)="crudTeacherDialog.openDialogDetail(); $event.stopPropagation()">
          <mat-icon svgIcon="eye"></mat-icon>
        </button> -->
          <nx-crud-user-dialog #crudTeacherDialog [user]="teacher" [uriRole]="uriTeachers" [areaRole]="areaRole"
            [onlyRead]="crudUserOnlyRead">
          </nx-crud-user-dialog>
        </mat-list-item>

      </mat-list>
    </mat-toolbar>

    <mat-divider *ngIf="areaRole !== roleTeacher" style="position: relative;"></mat-divider>

    <table mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="student.firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex-grow: 2"> Alumno </th>
        <td mat-cell *matCellDef="let studentGrade" style="flex-grow: 2">

          <mat-list>
            <mat-list-item>
              <img matListAvatar
                [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+ studentGrade?.student?.avatar.type+';base64,' + studentGrade?.student?.avatar.data)"
                alt="{{studentGrade?.student?.username}}"
                (click)="openUserCardCrud(cardStudentDialog.openDialogCardUser()); $event.stopPropagation()">
              <nx-card-user-dialog #cardStudentDialog [user]="studentGrade?.student" [areaRole]="areaRole"
                [onlyRead]="crudUserOnlyRead"></nx-card-user-dialog>

              <h3 matLine *ngIf="studentGrade?.student"> {{studentGrade?.student | shortNameLastname}} </h3>
              <p matLine>
                <span class="role-style">{{studentGrade?.student?.roles | rolesToSpanish}}</span>
              </p>
            </mat-list-item>
          </mat-list>

        </td>
      </ng-container>

      <ng-container matColumnDef="grades">
        <th mat-header-cell *matHeaderCellDef style="flex-grow: 2">
          Notas Parciales
        </th>

        <td mat-cell *matCellDef="let studentGrade" style="flex-grow: 2">
          <a mat-button color="none" *ngFor="let g of studentGrade?.grades" [ngClass]="dinamicColorGrade(g)"
            (click)="openDialogDetail(g);$event.stopPropagation()">
            {{g.grade | number : '1.1-1'}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="crud">
        <th mat-header-cell *matHeaderCellDef style="flex-grow: .5">
          Acciones
        </th>

        <td mat-cell *matCellDef="let studentGrade" style="flex-grow: .5">

          <!-- <button mat-icon-button color="primary"
          (click)="crudStudentDialog.openDialogDetail(); $event.stopPropagation()">
          <mat-icon svgIcon="eye"></mat-icon>
        </button> -->
          <nx-crud-user-dialog #crudStudentDialog [user]="studentGrade.student" [uriRole]="uriStudents"
            [areaRole]="areaRole" [onlyRead]="crudUserOnlyRead">
          </nx-crud-user-dialog>

          <button mat-icon-button color="accent"
            [routerLink]="['../../grades', subject.id, { username:studentGrade.student.username } ]">
            <mat-icon svgIcon="folder-star"></mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" @rowAnimation></tr>
      <!--[routerLink]="['../../grades', subject.id, { username:row.student.username } ]"-->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]=" isDark ? 'fila-dark' : 'fila' "
        @rowAnimation>

      </tr>

    </table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>

  </mat-card>

  <button color="primary" mat-raised-button [routerLink]="['/welcome']">WELCOME</button>

</div>