<mat-card class="mat-elevation-z8">

  <mat-toolbar color="primary">

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)">
      <mat-placeholder>
        <i class="mdi mdi-magnify"></i>Buscar Estudiante
      </mat-placeholder>
    </mat-form-field>

    <span class="spacer-r"></span>
    <mat-chip-list>
      <mat-chip color="accent" selected="true">
        <mat-icon svgIcon="school"></mat-icon>
        &nbsp; {{subject?.name}} {{subject?.course?.name}}
      </mat-chip>
    </mat-chip-list>
  </mat-toolbar>

  <mat-divider></mat-divider>

  <div *ngIf="!isLoading" style="height: 5px;" [class.mat-toolbar]="areaRole === roleManager"></div>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
  <mat-toolbar class="toolbar2" *ngIf="areaRole === roleManager">

    <mat-list style="flex-grow: 8">
      <mat-list-item>
        <img matListAvatar *ngIf="(teacher) as t"
          [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+t?.avatar.type+';base64,' + t?.avatar.data)"
          alt="{{t?.username}}"
          (click)="userCardCrud(cardTeacherDialog.openDialogCardUser()); $event.stopPropagation()">

        <h3 matLine *ngIf="(teacher) as t">{{ t | shortNameLastname}}</h3>

        <p matLine>
          <span class="role-style">Profesor</span>
        </p>

        <nx-card-user-dialog #cardTeacherDialog [user]="teacher" [areaRole]="areaRole">
        </nx-card-user-dialog>


        <button *ngIf="(teacher)" mat-icon-button color="primary"
          (click)="crudUserDialogT.openDialogDetail(); $event.stopPropagation()">
          <mat-icon svgIcon="eye"></mat-icon>
        </button>
      </mat-list-item>

    </mat-list>

    <!--@ViewChild-->
    <nx-crud-user-dialog></nx-crud-user-dialog>
    <nx-crud-user-dialog #crudUserDialogT [user]="teacher" [uriRole]="'/teachers'" [areaRole]="areaRole">
    </nx-crud-user-dialog>

  </mat-toolbar>
  <mat-divider *ngIf="areaRole === roleManager"></mat-divider>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Alumno </mat-header-cell>
      <mat-cell *matCellDef="let student">

        <mat-list>
          <mat-list-item>
            <img matListAvatar
              [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+student?.avatar.type+';base64,' + student?.avatar.data)"
              alt="{{student?.username}}"
              (click)="userCardCrud(cardStudentDialog.openDialogCardUser()); $event.stopPropagation()">
            <h3 matLine *ngIf="student"> {{student | shortNameLastname}} </h3>
            <p matLine>
              <span class="role-style">{{student?.roles | rolesToSpanish}}</span>
            </p>
          </mat-list-item>
        </mat-list>
        <nx-card-user-dialog #cardStudentDialog [user]="student" [areaRole]="areaRole"></nx-card-user-dialog>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="crud">
      <mat-header-cell *matHeaderCellDef class="add">




      </mat-header-cell>

      <mat-cell *matCellDef="let student" class="crud">

        <!--  <button mat-icon-button color="primary" (click)="crudUserDialog.openDialogDetail(); $event.stopPropagation()">
          <mat-icon svgIcon="eye"></mat-icon>
        </button> -->

        <button mat-icon-button color="accent"
          [routerLink]="['../../grades', subject.id, { studentId:student.username } ]">
          <mat-icon svgIcon="folder-star"></mat-icon>
        </button>


        <nx-crud-user-dialog #crudUserDialog [user]="student" [uriRole]="'/students'" [areaRole]="areaRole"
          [onlyRead]="onlyRead"></nx-crud-user-dialog>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]=" isDark ? 'fila-dark' : 'fila' ">

    </mat-row>

  </mat-table>
  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
  </mat-paginator>

  <mat-divider></mat-divider>


</mat-card>