<mat-card class="mat-elevation-z8">
  
    <mat-toolbar>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-placeholder>
          <mat-icon>search</mat-icon>Buscar
        </mat-placeholder>
      </mat-form-field>
    </mat-toolbar>
  
    <mat-table #table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.username}}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="styleClasses" (click)="openDialogDetail(row)">
      </mat-row>
  
    </mat-table>
  
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  
    <span class="add">
      <button mat-fab (click)="openDialogCreate()" matTooltip="agregar usuario">
        <mat-icon>person_add</mat-icon>
      </button>
    </span>
  
  </mat-card>