mat-dialog-content {
    overflow-x: hidden;
    padding: 10px 30px;
    margin: 0;
}

.container {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.divLoading {
    height: 5px;
    width: inherit;
}

mat-form-field {
    width: 100%;
}

mat-label {
    font-size: 14px;
}

mat-dialog-actions {
    margin: 0;
    padding: 0;
}

.app-input-icon {
    font-size: 16px;
}

.errorRoles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.75em;
}

.chip-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

mat-chip {
    cursor: pointer;
}