
  mat-card {
    text-align: center;
    width:700px;
    margin: 0 auto;
    padding: 30px 0; 
    overflow: hidden;
    top: 20px;

 }


  h1 {
   font-size: 27px;
   font-family: 'Roboto', sans-serif;
 }
 

 .done {
   position: fixed;
   bottom: 20px;
   right: 20px;
   color: white;
 }