
.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

mat-card {
    min-width: 400px;
    max-width: 650px;
    width: 620px;
    margin: 0 auto 20px;
    padding: 0;
    top: 20px;
  
  
}

h2 {
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

img {
    display: block;
    margin: 0 auto;
    padding: 25px 0;
}