
<button type="button" mat-raised-button color="default" 
[@tdHeadshake]="headshakeState" (click)="headshakeState = !headshakeState"
[@tdJello]="jelloState">
  <span>e</span>
</button>

<button type="button" mat-raised-button color="primary" 
[@tdBounce]="bounceState" (click)="bounceState = !bounceState"
[@tdJello]="jelloState">
  <span>S</span>
</button>

<button type="button" mat-raised-button color="accent" 
[@tdPulse]="pulseState" (click)="pulseState = !pulseState" 
[@tdJello]="jelloState">
  <span>e</span>
</button>
