mat-card {
    padding: 0 0 1px 0;
    margin: 20px;
    height: fit-content;
    width: fit-content;

}

mat-form-field {
    font-size: 16px;
}

.closeButton {
    position: absolute;
    top: -10px;
    right: -10px;

}

.imgEseToolbar {
    height: 40px;
}


.role-style {
    color: darkgray;
}

.description {
    font-size: 16px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.listContainer .mat-list-item {
    height: 90px;
}


.listContainer mat-form-field {
    margin-bottom: -1.25em !important;
}

.listContainer .mat-list-avatar {
    height: 65px;
    width: 65px;
}

.mat-list-avatar {
    cursor: pointer;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.mat-list-avatar:hover {
    opacity: 0.3;
}

.data {
    display: flex;
    padding-top: 15px;
}

.data mat-form-field {
    margin-left: 10px;
}


.level {
    font-size: 17px;
    color: darkgray;
}

.quizContainer {
    margin: 15px !important;
}

mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
}

.fullWith {
    width: 100%;
}

.fiftyWith {
    width: 50%;
}

.app-input-icon {
    font-size: 16px;
}

.size-mdi-icon {
    font-size: 24px;
}

.mat-action-row {
    padding: 16px 8px 0 24px;
}

mat-accordion mat-toolbar button {
    margin: 0 5px;
}

mat-action-row button {
    margin: 0 5px;
}

mat-form-field textarea {
    resize: none;
}

.miniFabMini {
    width: 24px;
    height: 24px;
    box-shadow: none;
    line-height: 12px;
}


::ng-deep .miniFabMini .mat-button-wrapper {
    font-weight: bold;
    line-height: 12px;
    padding: 0;
    padding-right: 1px;
    padding-top: 1px;
}


.miniFabMini2 {
    width: 24px;
    height: 24px;
    line-height: 12px;
}

::ng-deep .miniFabMini2 .mat-button-wrapper {
    font-weight: bold;
    line-height: 12px;
    padding: 0;
    padding-right: 1px;
    padding-top: 1px;
}

mat-expansion-panel-header {
    height: 64px;
}

mat-expansion-panel mat-form-field {
    font-family: monospace;
}

.gradeColorHigh {
    color: blue;
    font-size: larger;
}

.gradeColorLow {
    color: red;
    font-size: larger;
}

.gradeColorHighDark {
    color: skyblue;
    font-size: larger;
}

.gradeColorLowDark {
    color: tomato;
    font-size: larger;
}