<div *ngIf="data.type === 'detail'">
  <mat-toolbar color="primary">
      <button button type="button" mat-mini-fab color="primary" tabindex="1" (click)="cancel()">
          <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="spacer"></span>
      <h1 mat-dialog-title>Detalles de Usuario</h1>
  </mat-toolbar>
  <br>
  <br>
  <mat-dialog-content>
      <mat-form-field>
          <input matInput [(ngModel)]="obj.id" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">title</i>Id
          </mat-placeholder>
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="obj.userName" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">view_column</i>Nombre de usuario
          </mat-placeholder>
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="obj.firstName" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">view_column</i>Nombres
          </mat-placeholder>
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="obj.lastName" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">view_column</i>Apellidos
          </mat-placeholder>
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="obj.dni" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">person</i>RUT
          </mat-placeholder>
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="obj.age" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">person</i>Edad
          </mat-placeholder>
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="obj.gender" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">person</i>Sexo
          </mat-placeholder>
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="obj.mobile" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">description</i>Telefono
          </mat-placeholder>
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="obj.email" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">description</i>Email
          </mat-placeholder>
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="obj.address" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">description</i>Direccion
          </mat-placeholder>
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="obj.active" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">description</i>Activo
          </mat-placeholder>
      </mat-form-field>



  </mat-dialog-content>


  <mat-dialog-actions>

      <button mat-raised-button color="accent" tabindex="2" (click)="detailEdit()">
          <mat-icon>edit</mat-icon>
      </button>
      <button mat-raised-button color="warn" tabindex="3" (click)="detailDelete()">
          <mat-icon>delete</mat-icon>
      </button>

  </mat-dialog-actions>

</div>

<div *ngIf="data.type === 'create'">
  <form [formGroup]="createForm" (ngSubmit)="create()">

      <mat-toolbar color="primary">
          <button button type="button" mat-mini-fab color="primary" tabindex="1" (click)="cancel()">
              <mat-icon>arrow_back</mat-icon>
          </button>
          <span class="spacer"></span>
          <h1 mat-dialog-title>Agregar Usuario</h1>
      </mat-toolbar>
      <br>
      <br>
      <mat-dialog-content>

          <mat-form-field>
              <input matInput tabindex="1" formControlName="userName">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">view_column</i>Nombre
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="2" formControlName="mobile">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">view_column</i>Telefono
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="3" formControlName="password">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">view_column</i>Contraseña
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="4" >
              <mat-placeholder>
                  <i class="material-icons app-input-icon">person</i>RUT
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="5" >
              <mat-placeholder>
                  <i class="material-icons app-input-icon">description</i>Dirección
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="6">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">description</i>Email
              </mat-placeholder>
          </mat-form-field>

      </mat-dialog-content>
      <br>
      <mat-dialog-actions>
          <button type="submit" mat-raised-button color="accent" tabindex="7" [disabled]="!createForm.valid">Agregar</button>
          <button type="button" mat-raised-button tabindex="8" (click)="cancel()">Cancelar</button>
      </mat-dialog-actions>

  </form>
</div>

<div *ngIf="data.type === 'edit'">
  <form [formGroup]="editForm" (ngSubmit)="save()">

      <mat-toolbar color="primary">
          <button button type="button" mat-mini-fab color="primary" tabindex="1" (click)="cancel()">
              <mat-icon>arrow_back</mat-icon>
          </button>
          <span class="spacer"></span>
          <h1 mat-dialog-title>Editar Usuario</h1>
      </mat-toolbar>
      <br>
      <br>
      <mat-dialog-content>

          <mat-form-field>
              <input matInput value =  {{obj.id}} disabled>
              <mat-placeholder>
                  <i class="material-icons app-input-icon">title</i>Id
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="1" formControlName="userName">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">view_column</i>Nombre de Usuario
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="2" formControlName="firstName">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">view_column</i>Nombres
              </mat-placeholder>
          </mat-form-field> 
          
          <mat-form-field>
              <input matInput tabindex="3" formControlName="lastName">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">view_column</i>Apellidos
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="4" formControlName="dni">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">person</i>RUT
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="5" formControlName="age">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">view_column</i>Edad
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="6" formControlName="gender">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">view_column</i>Sexo
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="7" formControlName="password">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">view_column</i>Contraseña
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="8" formControlName="mobile">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">view_column</i>Telefono
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="9" formControlName="email">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">description</i>Email
              </mat-placeholder>
          </mat-form-field>

          <mat-form-field>
                  <input matInput tabindex="9" formControlName="address">
                  <mat-placeholder>
                      <i class="material-icons app-input-icon">description</i>Direccion
                  </mat-placeholder>
              </mat-form-field>

          <mat-form-field>
              <input matInput tabindex="10" formControlName="active">
              <mat-placeholder>
                  <i class="material-icons app-input-icon">description</i>active
              </mat-placeholder>
          </mat-form-field>


      </mat-dialog-content>

      <mat-dialog-actions>
          <button type="submit" mat-raised-button color="accent" tabindex="11" [disabled]="!editForm.valid">Guardar</button>
          <button type="button" mat-raised-button tabindex="12" (click)="cancel()">Cancelar</button>
      </mat-dialog-actions>

  </form>
</div>

<div *ngIf="data.type === 'delete'">
  <mat-toolbar color="primary">
      <button button type="button" mat-mini-fab color="primary" tabindex="1" (click)="cancel()">
          <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="spacer"></span>
      <h1 mat-dialog-title>Borrar Usuario</h1>
  </mat-toolbar>
  <br>
  <br>
  <mat-dialog-content>

      <mat-form-field>
          <input matInput [(ngModel)]="obj.id" disabled>
          <mat-placeholder>
              <i class="material-icons app-input-icon">title</i>Id
          </mat-placeholder>
      </mat-form-field>
 

  <mat-form-field>
      <input matInput [(ngModel)]="obj.userName" disabled>
      <mat-placeholder>
          <i class="material-icons app-input-icon">view_column</i>Nombre de usuario
      </mat-placeholder>
  </mat-form-field>

</mat-dialog-content>

  <mat-dialog-actions>
      <button mat-raised-button color="warn" (click)="delete()" tabindex="1">Borrar</button>
      <button mat-raised-button (click)="cancel()" tabindex="2">Cancelar</button>
  </mat-dialog-actions>
</div>
