.grid-container {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 300px) 1fr;
    grid-template-rows: 1fr minmax(300px, 400px) 1fr;
    height: 100%;
}

mat-card,
.form {
    grid-area: 2/2/2/3;
    z-index: 2;
}

mat-card {
    padding: 0;
}

form .login-content {
    position: absolute;
    padding: 0 45px;
    top:100px;
    bottom: 0;
    line-height: 4.5em;
    overflow: hidden;
}

.unauthMessage {
    position: relative;
    top:20px;
    color: red;
    margin: auto;
    text-align: center;
    font-weight: bold;
    display: block;
}

.login-actions {
    position: relative;
    display: block;
    margin: auto;
    top: 25px;
    width: 60%;
}

.spacer {
    flex: 1 1 auto;
}

mat-form-field {
    width: 100%
}

h1 {
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
}

.app-input-icon {
    font-size: 16px;
}

span {
    font-family: 'Fascinate', sans-serif;
    font-size: 15px;
}

.theme-picker {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
}

.VYMape {
    background: #fff;
    bottom: 0;
    direction: ltr;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

@media all and (min-width:601px) {
    .VYMape {
        background: #e0e0e0
    }
}

.VYMape svg {
    display: none;
    height: 100%;
    position: relative;
    width: 100%
}

@media all and (min-width:601px) {
    .VYMape svg {
        display: block
    }
}