<div class="app-content">
 <br><br>
  <h3 style="text-align: center">Inicia Sesion En ESE</h3>
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   
    <mat-toolbar color="primary">
      <span class="spacer"></span>
      <h1>Login</h1>
    </mat-toolbar>

    <div class="login-content">
      <br>
      <mat-form-field>
        <input matInput type="text" formControlName="userName">
        <mat-placeholder>
          <i class="material-icons app-input-icon">face</i>Nombre de Usuario
        </mat-placeholder>
        <mat-error *ngIf="userName.hasError('required')">Nombre de Usuario es requerido.</mat-error>
      </mat-form-field>

      <br>
      <br>

      <mat-form-field>
        <input matInput type="password" formControlName="password">
        <mat-placeholder>
          <i class="material-icons app-input-icon">lock_open</i>Contraseña
        </mat-placeholder>
        <mat-error *ngIf="password.hasError('required')">Contraseña es requerida.</mat-error>
      </mat-form-field>

      <br>
      <br>

      <mat-slide-toggle color="primary">
        <small>Remember me!</small>
      </mat-slide-toggle>

    </div>
    <div class="login-actions ">

      <br>
      <br>

      <button mat-raised-button color="accent" type="submit" id="login-submit-button" [disabled]="!loginForm.valid">
        Sing In
      </button>

    </div>

  </form>

</div>