<div class="container">

  <mat-card class="mat-elevation-z8">

    <mat-toolbar color="primary">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-placeholder>
          <i class="mdi mdi-magnify"></i>Buscar
        </mat-placeholder>
      </mat-form-field>

      <span class="spacer-r"></span>

      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon svgIcon="school"></mat-icon>
          &nbsp; Mis Pruebas
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>

    <div *ngIf="!isLoading" style="height: 5px;"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="flex-grow: 2"> Prueba </mat-header-cell>
        <mat-cell *matCellDef="let quiz" style="flex-grow: 2">

          <mat-list>
            <mat-list-item>
              <img matListAvatar
                [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+ quiz?.author?.avatar?.type+';base64,' + quiz?.author?.avatar?.data)"
                alt="{{quiz?.author?.username}}">
              <h3 matLine>{{quiz?.title}} </h3>
              <p matLine>
                <span class="role-style">{{quiz?.subjectName}} - {{quiz?.quizLevel}}</span>
              </p>
            </mat-list-item>
          </mat-list>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="crud">
        <mat-header-cell *matHeaderCellDef class="crud">
          <button mat-mini-fab matTooltip="Agregar Quiz" style="margin-bottom:5px" [routerLink]="['./create']">
            <mat-icon svgIcon="plus"></mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let quiz" class="crud">

          <button mat-icon-button color="primary" [routerLink]="['./detail',quiz.id]">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>

          <button mat-icon-button color="warn"
            (click)="deleteQuizDialog(deleteQuiz.openSimpleDialog()); $event.stopPropagation()">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>

          <nx-simple-dialog #deleteQuiz [obj]="quiz" [icon]=" 'delete' " [dialogTitle]=" 'Eliminar Prueba' "
            [message]=" 'Eliminar esta Prueba?' " [title]="quiz.title" [subtitle]="quiz.subjectName"
            [type]="'classic'">
          </nx-simple-dialog>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let quiz; columns: displayedColumns;" [ngClass]=" isDark ? 'fila-dark' : 'fila' "
        [routerLink]="['./detail',quiz.id]">

      </mat-row>

    </mat-table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>

  </mat-card>


</div>