<div class="container">

  <mat-card>

    <mat-toolbar color="primary">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" [disabled]="isSearchDisabled">
        <mat-placeholder>
          <i class="mdi mdi-magnify"></i>Buscar
        </mat-placeholder>
      </mat-form-field>

      <span class="spacer-r"></span>

      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon svgIcon="school"></mat-icon>
          &nbsp; Mis Pruebas
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>

    <div *ngIf="!isLoading" class="backgroundColorCard divToobar"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <table mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex-grow: 2"> Prueba </th>
        <td mat-cell *matCellDef="let quiz" style="flex-grow: 2">

          <mat-list>
            <mat-list-item>
              <img matListAvatar
                [src]=" 'data:'+ quiz?.author?.avatar?.type+';base64,' + quiz?.author?.avatar?.data | safe: 'resourceUrl' "
                alt="{{quiz?.author?.username}}">
              <h3 matLine>{{quiz?.title}} </h3>
              <p matLine>
                <span class="role-style">{{quiz?.subjectName}} - {{quiz?.quizLevel}}</span>
              </p>
            </mat-list-item>
          </mat-list>

        </td>
      </ng-container>

      <ng-container matColumnDef="crud">
        <th mat-header-cell *matHeaderCellDef class="crud">
          <button mat-mini-fab matTooltip="Crear Prueba" style="margin-bottom:5px" [routerLink]="['./create']">
            <mat-icon svgIcon="file-plus"></mat-icon>
          </button>
        </th>

        <td mat-cell *matCellDef="let quiz" class="crud">

          <button mat-icon-button color="primary" [routerLink]="['./detail',quiz.id]">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>

          <button mat-icon-button color="warn"
            (click)="deleteQuizDialog(deleteQuiz.openSimpleDialog()); $event.stopPropagation()">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>

          <nx-simple-dialog #deleteQuiz
             [obj]="quiz"
             icon="delete"
             dialogTitle="Eliminar Prueba"
             message="¿Eliminar esta Prueba?"
             [title]="quiz.title"
             [subtitle]="quiz.subjectName"
             actionButton1="Aceptar"
             [type]="simpleDialogDeleteType">
          </nx-simple-dialog>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" @rowAnimation ></tr>
      <tr mat-row *matRowDef="let quiz; columns: displayedColumns;"
        [routerLink]="['./detail',quiz.id]" @rowAnimation>

      </tr>

    </table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>

  </mat-card>


</div>