
  mat-card {
     text-align: center;
     width:950px;
     margin: auto;
     padding: 0;
     padding-bottom: 30px;
     overflow: hidden;

  }

  .m-toolbar {
    position: fixed !important;
    top: 64px;
    z-index: 2;
    width:950px;
         
    }

  .spacer-c {
    flex: .5 1 auto;
   }

  
   h1 {
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
  }
  
  
  button {
    font-family: 'Fascinate', sans-serif;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }