<mat-card>
  <mat-toolbar class="m-toolbar" color="default">
       <span class="spacer-c"></span>
    <button mat-raised-button>E</button>
    <button mat-raised-button color="primary">S</button>
    <button mat-raised-button color="accent">E</button>
   
  </mat-toolbar>

  <mat-toolbar color="default">
      <span class="spacer-c"></span>
      <h1>Welcome to Admin Home</h1>
 </mat-toolbar>

 <br>
 <img width="180" src="assets/images/logos/ese-logo-big2.png">
 <br>
</mat-card>

<span class="done">
  <button mat-fab routerLink="/login">
    <mat-icon>mood</mat-icon>
  </button>
</span>