<mat-card>
  <img width="180" src="assets/images/logos/ese-logo-big2.png">
  <br>
</mat-card>
<br>
<br>
<br>

<mat-card>
  <img width="180" src="assets/images/logos/ese-logo-big2.png">
  <br>
</mat-card>

<br>
<br>
<br>

<mat-card>
  <img width="180" src="assets/images/logos/ese-logo-big2.png">
  <br>
</mat-card>

<br>
<br>
<br>

<mat-card>
  <img width="180" src="assets/images/logos/ese-logo-big2.png">
  <br>
</mat-card>
<br>
<br>
<br>

<br>
<br>
<br>

<mat-card>
  <img width="180" src="assets/images/logos/ese-logo-big2.png">
  <br>
</mat-card>

<span class="done">
  <button mat-fab routerLink="/login">
    <mat-icon>mood</mat-icon>
  </button>
</span>