body {
    font-family: 'Roboto', sans-serif;
  }
  
  mat-card {
     text-align: center;
  }
  
  button {
    font-family: 'Fascinate', sans-serif;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }