mat-dialog-content {
    margin: 0;
    padding: 0;
    max-height: 100%;
}

mat-card{
    --padding: 24px 24px 15px;
}

.imgLogo {
    height: 40px;
}


.title {
    margin-bottom: 10px !important;
    font-size: 16px !important;
}

.subtitle {
    font-size: 14px !important;
}

.message {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 16px;
    color: darkgray;
}

.imageCard {
    margin-bottom: 0 !important;
}

mat-card-actions {
    --padding: 15px 0 0 !important;
    --margin: 0 !important;
    display: flex;
    justify-content: space-between;
}

.listContainer {
    display: flex;
    justify-content: center;
}

.listContainer mat-list {
    padding-top: 0 !important;
    margin-bottom: 5px !important;
}

.listContainer .mat-list-item {
    height: 90px;
}

.listContainer .mat-list-avatar {
    height: 65px;
    width: 65px;
}

.mat-list-avatar {
    cursor: pointer;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.mat-list-avatar:hover {
    opacity: 0.3;
}

mat-dialog-actions {
    margin: 0;
    padding: 0;
}