.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}

mat-card {
    width: 100%;
    height: fit-content;
    margin: 20px;
    padding: 0;
    min-width: 500px;
    overflow: hidden;
    background: unset !important;
}

mat-divider {
    position: relative;
}

mat-toolbar-row {
    padding: 0;
}

mat-form-field {
    font-size: 14px;
    width: 50%;
    padding-top: 10px;
}

.toolbar2 {
    padding: 0 24px 5px 24px !important;
    height: 59px !important;
}

.toolbar2 ::ng-deep .mat-list-item-content {
    padding: 0 !important;
}

.toolbar2,
.toolbar2 h3 {
    font: unset !important;
}

.divToobar {
    height: 5px;
    width: inherit;
}

table {
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

th.mat-header-cell,
td.mat-cell {
    padding-left: 20px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
    padding-left: 24px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
    text-align: end;
}

td.mat-cell mat-list {
    padding: 0;
}

td.mat-cell mat-list-item {
    height: 55px !important;
}

td.mat-cell mat-list mat-list-item ::ng-deep .mat-list-item-content {
    padding: 0 !important;
}

tr.mat-row .mat-list-avatar {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

tr.mat-row .mat-list-avatar:hover {
    opacity: 0.3;
}

.role-style {
    color: darkgray;
}
