<mat-form-field [ngClass]="customFormFieldClass" [floatLabel]="floatLabel" appearance="legacy">

  <input matInput
         (click)="_openDatepickerOnClick(datepicker)"
         (keydown.arrowdown)="_openDatepickerOnClick(datepicker)"
         (keydown.enter)="_openDatepickerOnClick(datepicker)"
         [formControl]="_inputCtrl"
         [matDatepicker]="datepicker"
         [max]="_max"
         [min]="_min"
         readonly
         style="cursor: pointer;">
  
  <i matPrefix class="mdi mdi-calendar-range app-input-icon" (click)="datepicker.open()" style="cursor: pointer;">&nbsp;</i>
  <i matSuffix class="mdi mdi-menu-down app-input-icon" (click)="datepicker.open()" style="cursor: pointer;"></i>
  
  <mat-datepicker #datepicker
                (closed)="_takeFocusAway(datepicker)"
                (yearSelected)="_yearSelectedHandler($event,datepicker)"
                [touchUi]="touchUi"
                panelClass="nx-year-picker"
                startView="multi-year">
  </mat-datepicker>

</mat-form-field>