<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let book"> {{book.id}}
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let book">{{book.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="crud">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let book">
                <dialog-overview [book]="book" [type]="'edit'"></dialog-overview>
                <dialog-overview [book]="book" [type]="'delete'"></dialog-overview>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="book-row" (click)="openDialog(row)">

        </mat-row>
    </mat-table>

    <span class="add">
        <dialog-overview [type]="'create'"></dialog-overview>
    </span>

</div>

<nx-bookChild></nx-bookChild>
