<ng-container *ngIf="data.type === 'create' ">

  <mat-toolbar color="primary">
    <img class="imgEseDialog" alt="logo" title="logo" src="assets/images/logos/ese-logo.png">
    <span class="spacer-r"></span>
    <mat-icon svgIcon="school"></mat-icon>
    <span>&nbsp;&nbsp;</span>
    <h1 mat-dialog-title>Agregar Asignatura</h1>
  </mat-toolbar>

  <div *ngIf="!isLoading" class="backgroundColorAppBar divLoading"></div>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
  <div class="listContainer backgroundColorAppBar">
    <mat-list>
      <mat-list-item>
        <img *ngIf="!teacher" matListAvatar
          [src]=" 'data:'+ avatar?.type+';base64,' + avatar?.data | safe: 'resourceUrl' "
          alt="Profesor">
        <img *ngIf="teacher" matListAvatar
          [src]=" 'data:'+ teacher?.avatar?.type+';base64,' + teacher?.avatar?.data | safe: 'resourceUrl' "
          alt="Profesor" (click)="imageZoom.openDialogImage()">
        <nx-image-zoom-user #imageZoom [avatar]="teacher?.avatar"></nx-image-zoom-user>
        <h3 matLine>{{subjectName?.viewValue}}</h3>
        <p matLine>
          <span class="role-style">{{subject?.course?.name}}</span>
          <span *ngIf="teacher" class="role-style"> / {{teacher | shortNameLastname}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-content class="backgroundColorCard">

    <mat-horizontal-stepper [linear]="'true'" #stepper>

      <mat-step [stepControl]="subjectGroup">
        <form [formGroup]="subjectGroup">
          <ng-template matStepLabel>Asignatura</ng-template>

          <mat-form-field [floatLabel]=" 'never' ">
            <mat-select formControlName="name">
              <mat-option *ngFor="let sn of subjectsNames" [value]="sn">
                <span>{{sn.viewValue}}</span>
              </mat-option>
            </mat-select>
            <mat-label>Seleccione una Asignatura</mat-label>
          </mat-form-field>

          <div>
            <button type="button" mat-button color="accent" matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="teacherGroup">
        <form [formGroup]="teacherGroup">
          <ng-template matStepLabel>Docente</ng-template>

          <mat-form-field [floatLabel]=" 'never' ">
            <mat-select formControlName="teacher" (selectionChange)="selectedUser($event.value)">
              <mat-option *ngFor="let t of teachers$ | async" [value]="t">
                <img class="example-option-img" aria-hidden height="25"
                  [src]=" 'data:'+t?.avatar.type+';base64,' + t?.avatar.data | safe: 'resourceUrl' ">
                <span>{{t | shortNameLastname}}</span>
              </mat-option>
            </mat-select>
            <mat-label>Seleccione un Profesor</mat-label>
          </mat-form-field>

          <div>
            <button type="button" mat-button color="primary" matStepperPrevious>Atras</button>
          </div>
        </form>
      </mat-step>

    </mat-horizontal-stepper>

  </mat-dialog-content>

  <mat-divider></mat-divider>

  <mat-dialog-actions>
    <mat-toolbar>
      <button type="button" mat-raised-button color="primary" tabindex="1" (click)="cancel()" cdkFocusRegionstart>
        Cancelar
      </button>
      <span class="spacer-r"></span>
      <button type="button" mat-raised-button color="accent" tabindex="2" [disabled]="(subjectGroup.invalid || subjectGroup.pristine)
      || (teacherGroup.invalid || teacherGroup.pristine)" (click)="create()">Crear</button>
    </mat-toolbar>
  </mat-dialog-actions>

</ng-container>

<ng-container *ngIf="data.type === 'edit' ">

  <mat-toolbar color="primary">
    <img class="imgEseDialog" alt="logo" title="logo" src="assets/images/logos/ese-logo.png">
    <span class="spacer-r"></span>
    <mat-icon svgIcon="school"></mat-icon>
    <span>&nbsp;&nbsp;</span>
    <h1 mat-dialog-title>Editar Asignatura</h1>
  </mat-toolbar>

  <div *ngIf="!isLoading" class="backgroundColorAppBar divLoading"></div>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

  <div class="listContainer backgroundColorAppBar">
    <mat-list>
      <mat-list-item>
        <img *ngIf="teacher" matListAvatar
          [src]=" 'data:'+ teacher?.avatar?.type+';base64,' + teacher?.avatar?.data | safe: 'resourceUrl' "
          alt="Profesor" (click)="imageZoom.openDialogImage()">
        <nx-image-zoom-user #imageZoom [avatar]="teacher?.avatar"></nx-image-zoom-user>
        <h3 matLine>{{subjectName?.viewValue}}</h3>
        <p matLine>
          <span class="role-style">{{course?.name}}</span>
          <span *ngIf="teacher" class="role-style"> / {{teacher | shortNameLastname}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-content class="backgroundColorCard">

    <mat-horizontal-stepper [linear]="'true'" #stepper>

      <mat-step [stepControl]="teacherEditGroup">
        <form [formGroup]="teacherEditGroup">
          <ng-template matStepLabel>Docente</ng-template>

          <mat-form-field [floatLabel]=" 'never' ">
            <mat-select formControlName="teacher" (selectionChange)="selectedUser($event.value)"
              [compareWith]="compareTeacherFn">
              <mat-option *ngFor="let t of teachers$ | async" [value]="t">
                <img class="example-option-img" aria-hidden height="25"
                  [src]=" 'data:'+ t?.avatar.type +';base64,' + t?.avatar.data | safe: 'resourceUrl' ">
                <span>{{t | shortNameLastname}}</span>
              </mat-option>
            </mat-select>
            <mat-label>Seleccione un Profesor</mat-label>
          </mat-form-field>

          <div>

          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>

  </mat-dialog-content>

  <mat-divider></mat-divider>

  <mat-dialog-actions>
    <mat-toolbar>
      <button type="button" mat-raised-button color="primary" tabindex="1" (click)="cancel()" cdkFocusRegionstart>
        Cancelar
      </button>
      <span class="spacer-r"></span>
      <button type="button" mat-raised-button color="accent" tabindex="2" [disabled]="(teacherEditGroup.invalid)
      || (teacherEditGroup.pristine)" (click)="edit()">Guardar</button>
    </mat-toolbar>
  </mat-dialog-actions>

</ng-container>

<ng-container *ngIf="data.type === 'delete' ">

  <mat-toolbar color="primary">
    <img class="imgEseDialog" alt="logo" title="logo" src="assets/images/logos/ese-logo.png">
    <span class="spacer-r"></span>
    <mat-icon svgIcon="delete"></mat-icon>
    <span>&nbsp;&nbsp;</span>
    <h1 mat-dialog-title>Eliminar Asignatura</h1>
  </mat-toolbar>
  
  <div *ngIf="!isLoading" class="backgroundColorCard divLoading"></div>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

  <div class="listContainerDelete backgroundColorCard">
    <mat-list>
      <mat-list-item>
        <img matListAvatar
          [src]=" 'data:'+ subject?.teacher?.avatar?.type+';base64,' + subject?.teacher?.avatar?.data | safe: 'resourceUrl' "
          alt="Profesor" (click)="imageZoom.openDialogImage()">
        <nx-image-zoom-user #imageZoom [avatar]="subject.teacher.avatar"></nx-image-zoom-user>
        <h3 matLine>{{subject?.name}} {{subject?.course?.name}}</h3>
        <p matLine>
          <span class="role-style">{{subject?.teacher | shortNameLastname}} - Profesor</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider></mat-divider>

  <mat-dialog-actions>
    <mat-toolbar>
      <button type="button" mat-raised-button color="primary" tabindex="1" (click)="cancel()" cdkFocusRegionstart>
        Cancelar
      </button>
      <span class="spacer-r"></span>
      <button type="button" mat-raised-button color="warn" (click)="delete()" tabindex="2">Eliminar</button>
    </mat-toolbar>
  </mat-dialog-actions>

</ng-container>