.grid-container {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 300px) 1fr;
    grid-template-rows: 1fr minmax(300px, 400px) 1fr;
    height: 100%;
}


.theme-picker {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
}

.p-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.VYMape {
    background: #fff;
    bottom: 0;
    direction: ltr;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

@media all and (min-width:601px) {
    .VYMape {
        background: #e0e0e0
    }
}

.VYMape svg {
    display: none;
    height: 100%;
    position: relative;
    width: 100%
}

@media all and (min-width:601px) {
    .VYMape svg {
        display: block
    }
}



mat-card,
.form {
    grid-area: 2/2/2/3;
    z-index: 2;
}

mat-card {
    padding: 0;
    overflow: hidden;
}