 
mat-card, form {
    width: 350px;
    height: 530px;
    margin: auto;
    padding: 0;
  }

  .m-toolbar {
  position: fixed !important;
  top: 64px;
  z-index: 2;
  width: 350px;
       
  }
        
.content { 
    padding:0 40px;
    overflow: hidden;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:100px;
    line-height: 4em;
   
  }
  
  .spacer-l {
    flex: 1 1 auto;
  
   }
  
  
  h1 {
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
  }
  
  span {
    font-family: 'Fascinate', sans-serif;
    font-size: 15px;
  }

.app-input-icon {
    font-size: 16px;
  }


  mat-form-field{
    width: 80%; 
  }

  .actions {
    position: relative;
    top: 30px;
    display: block;
    left: 30px;
  }



