.profileSideNav {
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 64px;
    bottom: 0;
}

.profileSideNav:hover {
    --overflow-y: overlay;
}

form {
    padding: 20px;
}

form mat-form-field {
    font-size: 14px;
    width: 100%;
    margin: 0;
}

.btnSave {
    padding-top: 20px !important;
    justify-content: flex-start;
    align-items: center;
}

.btnResetPass {
    width: 100%;
}

.photo {
    cursor: pointer;
}

.listAvatarContainer {
    padding-top: 0;
}

.listAvatarContainer .mat-list-item {
    height: 128px;
}

::ng-deep .listAvatarContainer .mat-list-item .mat-list-item-content {
    justify-content: center;

    padding: 0;
}

.listAvatarContainer .mat-list-avatar {
    height: 100px;
    width: 100px;
}

.mat-list-avatar {
    cursor: pointer;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.mat-list-avatar:hover {
    opacity: 0.3;
}