<div class="profileSideNav">
  
  <div *ngIf="!isLoading" style="height: 5px;"></div>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>

  <form [formGroup]="editProfileForm" (ngSubmit)="save()" [ngSwitch]="profileAction">
    
    <div *ngSwitchCase="'usuario'">
      <mat-form-field appearance="standard">
        <mat-label>
          <i class="mdi mdi-account-circle app-input-icon">&nbsp;</i>Nombre de Usuario
        </mat-label>
        <input matInput formControlName="username">
      </mat-form-field>

      <mat-form-field class="photo" appearance="fill" tdFileDrop (fileDrop)="files = $event"
        (click)="fileInput.inputElement.click()" (keyup.enter)="fileInput.inputElement.click()"
        (keyup.delete)="fileInput.clear();resetAvatar()" (keyup.backspace)="fileInput.clear();resetAvatar()" flex>

        <mat-label>
          <i class="mdi mdi-camera app-input-icon">&nbsp;</i>Foto de Perfil
        </mat-label>
        <input matInput [value]="files?.length ? (files?.length + ' files') : files?.name" style="cursor:pointer"
          readonly>

        <button mat-icon-button matSuffix *ngIf="files"
          (click)="fileInput.clear();resetAvatar(); $event.stopPropagation()"
          (keyup.enter)="fileInput.clear();resetAvatar()">
          <mat-icon svgIcon="close-circle" class="iconRemove"></mat-icon>
        </button>

        <td-file-input hidden class="push-left-sm push-right-sm" #fileInput [(ngModel)]="files"
          [ngModelOptions]="{standalone:true}" (select)="selectEventEdit($event)">
          <mat-icon svgIcon="folder-upload"></mat-icon>
          <span class="text-upper">Buscar...</span>
        </td-file-input>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>
          <i class="mdi mdi-lock app-input-icon">&nbsp;</i>Contraseña de Usuario
        </mat-label>
        <input matInput readonly hidden>
        <mat-hint>
          <strong>Esto cambiará tu contraseña de usuario</strong>
        </mat-hint>
        <button type="button" mat-raised-button color="warn" class="btnResetPass" (click)="setPass.openDialogSetPass()">
          <mat-icon svgIcon="lock-reset"></mat-icon>&nbsp; Cambiar Contraseña
        </button>
        <nx-set-pass-dialog #setPass [user]="user"></nx-set-pass-dialog>

      </mat-form-field>
    </div>

    <div *ngSwitchCase="'personal'">
      <mat-form-field appearance="standard">
        <input matInput formControlName="firstName" required>
        <mat-label>
          <i class="mdi mdi-account app-input-icon">&nbsp;</i>Nombres
        </mat-label>
        <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
        <mat-error *ngIf="firstName.hasError('required')">Nombres son
          <strong>requeridos</strong>.
        </mat-error>
        <mat-error *ngIf="firstName.hasError('pattern')">Ingrese Nombres
          <strong>válidos</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>
          <i class="mdi mdi-account-outline app-input-icon">&nbsp;</i>Apellidos
        </mat-label>
        <input matInput formControlName="lastName" required>
        <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
        <mat-error *ngIf="lastName.hasError('required')">Apellidos son
          <strong>requeridos</strong>.
        </mat-error>
        <mat-error *ngIf="lastName.hasError('pattern')">Ingrese Apellidos
          <strong>válidos</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <input matInput formControlName="dni" placeholder="11111111-1">
        <mat-label>
          <i class="mdi mdi-barcode app-input-icon">&nbsp;</i>RUT
        </mat-label>
        <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
        <mat-error *ngIf="dni.hasError('whitespace')">No se permiten espacios en
          <strong>blanco</strong>.
        </mat-error>
        <mat-error *ngIf="dni.hasError('checkrut') && !dni.hasError('whitespace')">Ingrese un RUT
          <strong>válido</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <input matInput [matDatepicker]="picker" formControlName="birthday" placeholder="1/11/1990">
        <mat-label>
          <i class="mdi mdi-cake-variant app-input-icon">&nbsp;</i>Fecha de Nacimiento
        </mat-label>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="!birthday.valid">ingrese un Formato de Fecha
          <strong>válido</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-select formControlName="gender" [compareWith]="compareFn">
          <mat-option *ngFor="let gender of genders" [value]="gender.viewValue">
            {{ gender.viewValue }}
          </mat-option>
        </mat-select>
        <mat-label>
          <i class="mdi mdi-gender-male-female app-input-icon">&nbsp;</i>Genero
        </mat-label>
      </mat-form-field>


    </div>

    <div *ngSwitchCase="'contacto'">

      <mat-form-field appearance="standard">
        <input matInput [type]="tel" formControlName="mobile" maxlength="9" placeholder="911222333"
          placeholder="911222333">
        <mat-label>
          <i class="mdi mdi-phone app-input-icon">&nbsp;</i>Teléfono
        </mat-label>
        <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
        <mat-hint align="end">{{mobile.value?.length || 0}}/9</mat-hint>
        <mat-error *ngIf="mobile.hasError('whitespace')">No se permiten espacios en
          <strong>blanco</strong>.
        </mat-error>
        <mat-error *ngIf="mobile.hasError('pattern') && !mobile.hasError('whitespace')">Ingrese un número de telefono
          <strong>válido</strong>.
        </mat-error>
        <mat-error *ngIf="mobile.hasError('minlength') && !mobile.hasError('pattern')">Teléfono debe ser de
          <strong>9 dígitos</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <input matInput formControlName="email" placeholder="usuario@email.com">
        <mat-label>
          <i class="mdi mdi-email app-input-icon">&nbsp;</i>Email
        </mat-label>
        <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
        <mat-error *ngIf="email.hasError('whitespace')">No se permiten espacios en
          <strong>blanco</strong>.
        </mat-error>
        <mat-error *ngIf="email.hasError('email') && !email.hasError('whitespace')">Ingrese una dirección Email
          <strong>válida</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <input matInput formControlName="address" placeholder="Mi Calle 334">
        <mat-label>
          <i class="mdi mdi-account-location app-input-icon">&nbsp;</i>Dirección
        </mat-label>
        <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
        <mat-error *ngIf="address.hasError('whitespace')">No se permiten espacios en
          <strong>blanco</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-select formControlName="commune" [compareWith]="compareFn">
          <mat-option *ngFor="let commune of communes" [value]="commune.viewValue">
            {{ commune.viewValue }}
          </mat-option>
        </mat-select>
        <mat-label>
          <i class="mdi mdi-map-marker app-input-icon">&nbsp;</i>Comuna
        </mat-label>
      </mat-form-field>



    </div>

    <div class="btnSave">
      <button type="submit" mat-raised-button color="accent"
        [disabled]="editProfileForm.invalid || editProfileForm.pristine">Guardar</button>
    </div>

  </form>

</div>