<mat-toolbar color="primary">
  <img style="height: 40px" alt="logo" title="logo" src="assets/images/logos/ese-logo.png">
  <span class="spacer-r"></span>
  <mat-icon svgIcon="lock-reset"></mat-icon>
  <span>&nbsp;&nbsp;</span>
  <h1 mat-dialog-title>Restablecer Contraseña</h1>
</mat-toolbar>

<mat-dialog-content>

  <mat-form-field>
    <input matInput [value]="obj.firstName +' '+ obj.lastName" disabled>
    <mat-placeholder>
      <i class="mdi mdi-account material-icons app-input-icon"></i>Nombre
    </mat-placeholder>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <mat-toolbar>
    <button type="button" mat-raised-button color="primary" tabindex="1" (click)="cancel()" cdkFocusRegionstart>
      Cancelar
    </button>
    <span class="spacer-r"></span>
    <button mat-raised-button color="warn" (click)="resetPassword()" tabindex="2">Restablecer Contraseña</button>
  </mat-toolbar>
</mat-dialog-actions>