<div class="container">

  <mat-card class="mat-elevation-z8">

    <mat-toolbar color="primary">
      <mat-form-field>
        <mat-select placeholder="Seleccione una Evaluación" (selectionChange)="selectQuiz($event.value)">
          <mat-option *ngFor="let g of grades" [value]="g.title">
            <span>{{g.title}}</span> |
            <small>{{g.date | lowercase}}</small>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="spacer-r"></span>
      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon svgIcon="school"></mat-icon>
          &nbsp; Detalles por Evaluación
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>

    <div *ngIf="!isLoading" style="height: 5px;" class="mat-toolbar"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <mat-toolbar class="toolbar2">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-placeholder>
          <i class="mdi mdi-magnify"></i>Buscar
        </mat-placeholder>
      </mat-form-field>
      <span class="spacer-r"></span>
      <button mat-mini-fab matTooltip="Agregar Evaluación" (click)="openDialogCreateEvaluation(subject)">
          <mat-icon svgIcon="plus"></mat-icon>
        </button>

    </mat-toolbar>
    <mat-divider></mat-divider>


    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="student.firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Alumno </mat-header-cell>
        <mat-cell *matCellDef="let grade">
          <mat-list style="flex-grow: 8">
            <mat-list-item>
              <img matListAvatar [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+ grade?.student?.avatar.type+';base64,' + grade?.student?.avatar.data)"
                alt="{{grade?.student?.username}}" (click)="userCardCrud(cardStudentDialog.openDialogCardUser()); $event.stopPropagation()">
              <h3 matLine *ngIf="grade"> {{grade?.student | shortNameLastname}} </h3>
              <p matLine>
                <span class="role-style">{{grade?.student.roles | rolesToSpanish}}</span>
              </p>
            </mat-list-item>
          </mat-list>
          <!--@ViewChild--><nx-crud-user-dialog></nx-crud-user-dialog>
          <nx-card-user-dialog #cardStudentDialog [user]="grade?.student" [areaRole]="areaRole"></nx-card-user-dialog>
          <!--<nx-image-zoom-user #imageZoomS [avatar]="grade?.student?.avatar"></nx-image-zoom-user>-->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="grade">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nota </mat-header-cell>
        <mat-cell *matCellDef="let grade">
          <span [style.color]="(grade?.grade < 4.0)? 'red' : 'blue'">{{grade?.grade | number : '1.1-1'}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="crud" *ngIf="areaRole === roleTeacher">
        <mat-header-cell *matHeaderCellDef>

        </mat-header-cell>

        <mat-cell *matCellDef="let grade" class="crud">

          <button mat-icon-button color="primary" (click)="openDialogDetail(grade);$event.stopPropagation()">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>

          <button mat-icon-button color="accent" (click)="openDialogEdit(grade);$event.stopPropagation()">
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>

          <!--  <button mat-icon-button color="warn" (click)="$event.stopPropagation()">
            <mat-icon svgIcon="delete"></mat-icon>
          </button> -->

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]=" isDark ? 'fila-dark' : 'fila' ">
      </mat-row>

    </mat-table>
    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>

    <mat-divider></mat-divider>
    <mat-toolbar>
      <button type="button" mat-flat-button color="primary" tabindex="1" (click)="goBack()" cdkFocusRegionstart>
        <!--<mat-icon svgIcon="arrow-left"></mat-icon>-->Volver
      </button>
      <span class="spacer-r"></span>

    </mat-toolbar>

  </mat-card>

</div>