@import './assets/custom-themes/theme-color-grabber';

// Define a light theme.
$primary: mat-palette($mat-brown);
$accent: mat-palette($mat-orange, 800, 400, 900);
$theme: mat-light-theme($primary, $accent);

.brown-orange {
  @include angular-material-theme($theme);
  @include theme-color-grabber($theme);
}

// Define a dark theme.
$primary-dark: mat-palette($mat-brown, 400);
$accent-dark: mat-palette($mat-orange, 800, 400, 900);
$theme-dark: mat-dark-theme($primary-dark, $accent-dark);

.brown-orange-dark {
  @include angular-material-theme($theme-dark);
  @include theme-color-grabber($theme-dark);
}