@import './assets/custom-themes/highlightjs/material-light';
@import './assets/custom-themes/highlightjs/material-dark';
@import './assets/custom-themes/theme-color-grabber';

$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);

// Define a light theme.
$theme: mat-light-theme($primary, $accent);
.deeppurple-amber{
  @include angular-material-theme($theme);
  @include theme-color-grabber($theme);
}

// Define a dark theme.
$theme: mat-dark-theme($primary, $accent);
.deeppurple-amber-dark{
  @include angular-material-theme($theme);
  @include theme-color-grabber($theme);
}

