@import './assets/custom-themes/highlightjs/material-light';
@import './assets/custom-themes/highlightjs/material-dark';


$primary: mat-palette($mat-light-blue);
$accent:  mat-palette($mat-lime, A200, A100, A400);

// Define a light theme.
$theme:   mat-light-theme($primary, $accent);
.lightblue-lime {
  @include angular-material-theme($theme);
}

// Define a dark theme.
$theme:   mat-dark-theme($primary, $accent);
.lightblue-lime-dark {
  @include angular-material-theme($theme);
}

