@import './assets/custom-themes/theme-color-grabber';

// Define a light theme.
$primary: mat-palette($mat-lime, 600, 200, 700);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

.lime-pink {
  @include angular-material-theme($theme);
  @include theme-color-grabber($theme);
}

// Define a dark theme.
$primary-dark: mat-palette($mat-lime);
$accent-dark: mat-palette($mat-pink, A200, A100, A400);
$theme-dark: mat-dark-theme($primary-dark, $accent-dark);

.lime-pink-dark {
  @include angular-material-theme($theme-dark);
  @include theme-color-grabber($theme-dark);
}