@import './assets/custom-themes/highlightjs/material-light';
@import './assets/custom-themes/highlightjs/material-dark';
@import './assets/custom-themes/theme-color-grabber';

$primary: mat-palette($mat-orange, 800);
$accent: mat-palette($mat-light-blue, 600, 100, 800);

// Define the light theme.
$theme: mat-light-theme($primary, $accent);
.orange-lightblue {
 @include angular-material-theme($theme);
 @include theme-color-grabber($theme);
}

// Define the dark theme.
$theme: mat-dark-theme($primary, $accent);
.orange-lightblue-dark {
 @include angular-material-theme($theme);
 @include theme-color-grabber($theme);
}