@import './assets/custom-themes/highlightjs/material-light';
@import './assets/custom-themes/highlightjs/material-dark';
@import './assets/custom-themes/theme-color-grabber';

$primary: mat-palette($mat-pink);
$accent:  mat-palette($mat-purple, A200, A100, A400);

// Define the light theme.
$theme: mat-light-theme($primary, $accent);
.pink-purple {
  @include angular-material-theme($theme);
  @include theme-color-grabber($theme);
}

// Define the dark theme.
$theme: mat-dark-theme($primary, $accent);
.pink-purple-dark {
  @include angular-material-theme($theme);
  @include theme-color-grabber($theme);
}

