@import './assets/custom-themes/highlightjs/material-light';
@import './assets/custom-themes/highlightjs/material-dark';
@import './assets/custom-themes/theme-color-grabber';

$primary: mat-palette($mat-purple);
$accent:  mat-palette($mat-pink, A200, A100, A400);

// Define the light theme.
$theme: mat-light-theme($primary, $accent);
.purple-pink {
  @include angular-material-theme($theme);
  @include theme-color-grabber($theme);
}

// Define the dark theme.
$theme: mat-dark-theme($primary, $accent);
.purple-pink-dark {
  @include angular-material-theme($theme);
  @include theme-color-grabber($theme);
}
