@import './assets/custom-themes/theme-color-grabber';

// light theme.
$primary: mat-palette($mat-purple);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

.purple-pink {
  @include angular-material-theme($theme);
  @include theme-color-grabber($theme);
}

// dark theme.
$primary-dark: mat-palette($mat-purple, A700);
$accent-dark: mat-palette($mat-pink, A200, A100, A400);
$theme-dark: mat-dark-theme($primary-dark, $accent-dark);

.purple-pink-dark {
  @include angular-material-theme($theme-dark);
  @include theme-color-grabber($theme-dark);
}