@import './assets/custom-themes/highlightjs/material-light';
@import './assets/custom-themes/highlightjs/material-dark';
@import './assets/custom-themes/theme-color-grabber';

$primary: mat-palette($mat-teal);
$accent:  mat-palette($mat-yellow, A200, A100, A400);

// Define a light theme.
$theme:   mat-light-theme($primary, $accent);
.teal-yellow {
  @include angular-material-theme($theme);
  @include theme-color-grabber($theme);
}

// Define a dark theme.
$theme:   mat-dark-theme($primary, $accent);
.teal-yellow-dark {
  @include angular-material-theme($theme);
  @include theme-color-grabber($theme);
}
