@import '~@angular/material/theming';
// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
    // Parse the theme and create variables for each color in the pallete
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background); // Create theme specfic styles
    .primaryColorBG {
        background-color: mat-color($primary);
        color: mat-contrast($primary, 500); // color: mat-color($foreground, text);
    }
    .accentColorBG {
        background-color: mat-color($accent);
        color: mat-contrast($accent, 500);
    }
    .warnColorBG {
        background-color: mat-color($warn);
        color: mat-contrast($warn, 500);
    }
    .primaryColor {
        color: mat-color($primary);
    }
    .accentColor {
        color: mat-color($accent);
    }
    .warnColor {
        color: mat-color($warn);
    }


}

