<mat-sidenav-container [class]="theme.activeTheme">

    <mat-toolbar class="fixed-header" color="primary">
        <span>
            <button type="button" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </span>

        <span>
            <a class="nav-link home" routerLink=''>
                <img alt="Home" title="Home" src="assets/images/logos/ese-logo.png">
            </a>
        </span>

        <span class="spacer"></span>

        <nx-theme-picker #theme></nx-theme-picker>

        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

       

    </mat-toolbar>


    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item>Chat</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>




    <mat-sidenav-container>
        
    <mat-toolbar class="toolbar2" color="primary"></mat-toolbar>
          
          <!-- sidenav content -->
        <mat-sidenav mode="side" opened="true" #sidenav class="mySidenav">

            <mat-toolbar>
                <mat-list>
                    <mat-list-item>
                        <img matListAvatar src="https://angular.io/generated/images/bios/jelbourn.jpg" alt="admin">
                        <h3 matLine> Daniel's </h3>
                        <p matLine>
                            <span>Administrador</span>
                        </p>
                    </mat-list-item>
                </mat-list>
    
            </mat-toolbar>

            <mat-toolbar>
                    
                       
           </mat-toolbar>

            <mat-nav-list class="menu">

          

                <mat-list-item routerLink="/admin" routerLinkActive="active">
                    <mat-icon matListIcon>home</mat-icon>
                    <h3 matLine>Home</h3>
                </mat-list-item>


                <mat-list-item (click)="triggerAsignaturas = !triggerAsignaturas">
                    <mat-icon matListIcon>school</mat-icon>
                    <h3 matLine>Usuarios</h3>
                    <mat-icon [@tdRotate]="!triggerAsignaturas">arrow_drop_down</mat-icon>
                </mat-list-item>

                <div [@tdCollapse]="triggerAsignaturas">

                    <mat-list-item routerLink="./users/create-user" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <h3 matLine>Crear Manager</h3>
                    </mat-list-item>


                    <mat-list-item routerLink="/social" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <h3 matLine>Editar Manager</h3>
                    </mat-list-item>


                    <mat-list-item routerLink="/social" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <h3 matLine>Borrar Manager</h3>
                    </mat-list-item>

                </div>


                <mat-list-item (click)="triggerPruebas = !triggerPruebas">
                    <mat-icon matListIcon>description</mat-icon>
                    <h3 matLine>Pruebas</h3>
                    <mat-icon [@tdRotate]="!triggerPruebas">arrow_drop_down</mat-icon>
                </mat-list-item>

                <div [@tdCollapse]="triggerPruebas">
                    <mat-list-item routerLink="/login" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <h3 matLine>Tomar Prueba</h3>
                    </mat-list-item>

                    <mat-list-item routerLink="/login" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <h3 matLine>Crear Prueba</h3>
                    </mat-list-item>

                    <mat-list-item routerLink="/login" routerLinkActive="active">
                        <mat-icon matListIcon></mat-icon>
                        <h3 matLine>Historial Pruebas</h3>
                    </mat-list-item>
                </div>


                <mat-list-item routerLink="/dgsgdf" routerLinkActive="active">
                    <mat-icon matListIcon>cancel</mat-icon>
                    <h3 matLine>404</h3>
                </mat-list-item>

            </mat-nav-list>

        </mat-sidenav>


        <!-- primary content -->
        <div class="my-content">

            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-container>

</mat-sidenav-container>