<div routerLinkActive [routerLinkActiveOptions]="{exact: true}" #rla="routerLinkActive"
    *ngIf="sideNavMenuState && roles?.includes(roleTeacher)">

    <mat-list-item (click)="trigger = !trigger">
        <mat-icon matListIcon svgIcon="file-multiple" [class.accentColor]= "rla.isActive"></mat-icon>
        <h3 matLine [class.accentColor]= "rla.isActive"  [@animateText]= "sideNavMenuState">Pruebas</h3>
        <mat-icon [@tdRotate]="!trigger" svgIcon="menu-down"  [@animateText]= "sideNavMenuState"></mat-icon>
    </mat-list-item>

    <div [@tdCollapse]="(trigger || !sideNavMenuState) " [style.overflow]="'hidden'" id="collapsebleDiv">

        <mat-list-item [routerLink]="quizLinks[0].route" routerLinkActive #rlaQuizes="routerLinkActive"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-icon matListIcon svgIcon="file-search" [class.accentColor]="rlaQuizes.isActive"></mat-icon>
            <h3 matLine [class.accentColor]="rlaQuizes.isActive" [@animateText]= "sideNavMenuState">Mis Pruebas</h3>
        </mat-list-item>

        <mat-list-item [routerLink]="quizLinks[1].route" routerLinkActive #rlaCreate="routerLinkActive">
            <mat-icon matListIcon svgIcon="file-plus" [class.accentColor]="rlaCreate.isActive"></mat-icon>
            <h3 matLine [class.accentColor]="rlaCreate.isActive" [@animateText]= "sideNavMenuState">Crear Prueba</h3>
        </mat-list-item>

        <mat-list-item [routerLink]="quizLinks[2].route" routerLinkActive #rlaImport="routerLinkActive">
            <mat-icon matListIcon svgIcon="file-import" [class.accentColor]="rlaImport.isActive"></mat-icon>
            <h3 matLine [class.accentColor]="rlaImport.isActive" [@animateText]= "sideNavMenuState">Importar Prueba</h3>
        </mat-list-item>

        <mat-list-item [routerLink]="quizLinks[3].route" routerLinkActive #rlaReports="routerLinkActive">
            <mat-icon matListIcon svgIcon="file-chart" [class.accentColor]="rlaReports.isActive"></mat-icon>
            <h3 matLine [class.accentColor]="rlaReports.isActive" [@animateText]= "sideNavMenuState">Reportes de Pruebas</h3>
        </mat-list-item>

    </div>

</div>


<div routerLinkActive [routerLinkActiveOptions]="{exact: true}" #rla="routerLinkActive"
    *ngIf="!sideNavMenuState && roles?.includes(roleTeacher)">

    <mat-list-item [matMenuTriggerFor]="menuQuiz">
        <mat-icon matListIcon svgIcon="file-multiple" [class.accentColor]= "rla.isActive"></mat-icon>
    </mat-list-item>

    <mat-menu x-position="after" #menuQuiz="matMenu" [overlapTrigger]="false">

        <button mat-menu-item [routerLink]="quizLinks[0].route" routerLinkActive #rlaQuizes="routerLinkActive"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-icon matListIcon svgIcon="file-search" [class.accentColor]="rlaQuizes.isActive"></mat-icon>
            <span [class.accentColor]="rlaQuizes.isActive">Mis Pruebas</span>
        </button>

        <button mat-menu-item [routerLink]="quizLinks[1].route" routerLinkActive #rlaCreate="routerLinkActive">
            <mat-icon matListIcon svgIcon="file-plus" [class.accentColor]="rlaCreate.isActive"></mat-icon>
            <span [class.accentColor]="rlaCreate.isActive">Crear Prueba</span>
        </button>

        <button mat-menu-item [routerLink]="quizLinks[2].route" routerLinkActive #rlaImport="routerLinkActive">
            <mat-icon matListIcon svgIcon="file-import" [class.accentColor]="rlaImport.isActive"></mat-icon>
            <span [class.accentColor]="rlaImport.isActive">Importar Prueba</span>
        </button>

        <button mat-menu-item [routerLink]="quizLinks[3].route" routerLinkActive
            #rlaReports="routerLinkActive">
            <mat-icon matListIcon svgIcon="file-chart" [class.accentColor]="rlaReports.isActive"></mat-icon>
            <span [class.accentColor]="rlaReports.isActive">Reportes de Pruebas</span>
        </button>

    </mat-menu>

</div>