<form [formGroup]="editTrueFalseItemsForm">
    <mat-accordion #trueFalseItemsAccordion="matAccordion" [multi]="true" [displayMode]="accordionDisplayMode">

        <mat-toolbar color="accent" class="toolbarItems">

            <mat-icon svgIcon="format-list-bulleted"></mat-icon>
            <span>&nbsp;&nbsp;</span>
            <h1 mat-dialog-title>Verdadero o Falso</h1>

            <span class="spacer-c"></span>

            <mat-icon svgIcon="calculator"></mat-icon>
            <span>&nbsp;&nbsp;</span>
            <h1 mat-dialog-title>Ponderación %</h1>

            <span class="spacer-r"></span>

            <button type="button" mat-mini-fab color="primary" (click)="addTrueFalseItem()">
                <mat-icon svgIcon="plus"></mat-icon>
            </button>

            <button type="button" mat-mini-fab color="primary"
                (click)=" panelOpenTrueFalseItems ? trueFalseItemsAccordion.closeAll() : trueFalseItemsAccordion.openAll()">
                <i class="mdi mdi-menu-{{panelOpenTrueFalseItems ? 'up' : 'down'}} size-mdi-icon"></i>
            </button>

        </mat-toolbar>

        <div formArrayName="trueFalseItems" class="items">
            <mat-expansion-panel #mep *ngFor="let tf of trueFalseItems['controls'] ; let i=index;"
                [expanded]="tf.get('open').value" (opened)="panelOpenTrueFalseItems = true"
                (closed)="panelOpenTrueFalseItems = false">

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <button mat-mini-fab color="primary" class="miniFabMini">
                            {{ i + 1 }}
                        </button>
                    </mat-panel-title>

                    <mat-panel-description>
                        <span *ngIf="!mep.expanded"> {{tf.get('sentence').value}} </span>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div [formGroupName]="i">
                    <mat-form-field appearance="outline" class="fullWith">
                        <mat-label>
                            Sentencia
                        </mat-label>
                        <textarea matInput formControlName="sentence" required></textarea>
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="fill" class="fullWith">
                        <mat-select formControlName="answer" required>
                            <mat-option *ngFor="let trueFalse of trueFalses" [value]="trueFalse.value">
                                {{ trueFalse.viewValue }}
                            </mat-option>
                        </mat-select>
                        <mat-label>
                            <i class="mdi mdi-checkbox-marked-circle app-input-icon">&nbsp;</i>Respuesta
                        </mat-label>
                    </mat-form-field>

                    <mat-action-row>
                        <button type="button" mat-mini-fab color="accent" [disabled]="!trueFalseItemsDisableBtnSave(i)"
                            (click)="saveTrueFalseItems()">
                            <mat-icon svgIcon="content-save"></mat-icon>
                        </button>

                        <button type="button" mat-mini-fab color="warn"
                            (click)="deleteTrueFalseItemDialog(deleteTrueFalse.openSimpleDialog(),i)">
                            <mat-icon svgIcon="delete"></mat-icon>
                        </button>
                    </mat-action-row>

                    <nx-simple-dialog #deleteTrueFalse [obj]="tf" [title]=" '¿Desea eliminar el Item ' + (i+1) + '?' "
                        subtitle="Verdadero o Falso" dialogTitle="Eliminar Item" actionButton1="Aceptar"
                        [type]=" 'classic' " icon="delete">
                    </nx-simple-dialog>

                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</form>