mat-card {
    position: relative;
    top: 20px;
    max-width: 700px;
    max-height: 528px;
    margin: auto;
    padding: 0;
}

mat-toolbar {
    padding: 8px 24px 0;
}


mat-form-field {
    font-size: 14px;
    width: 100%;
}

mat-table {
    position: relative;
    top: 0;
    max-height: 400px;
    margin: auto;
    padding: 0;
    overflow: auto;
}

.fila:hover {
    cursor: pointer;
    background: #f5f5f5;
}

.fila:active {
    background: #eaeaea;
}

.fila-dark:hover {
    cursor: pointer;
    background: #353535;
}

.fila-dark:active {
    background: #292929;
}

.add {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

.mat-list-avatar {
    --cursor: pointer;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.fila:hover .mat-list-avatar {
   opacity: 0.3;
}

.fila-dark:hover .mat-list-avatar {
    opacity: 0.3;
 }

 .role-style {
    color: darkgray;
}
