.app-input-icon {
    font-size: 16px;
}

.imgEse {
    height: 40px;
}

span {
    color: darkgray;
}

.listSize {
    padding-top: 0;
}

.listSize .mat-list-item {
    height: 90px;
}

.listSize .mat-list-avatar {
    height: 65px;
    width: 65px;
}