.app-input-icon {
    font-size: 16px;
}

.imgEseDialog {
    height: 40px;
}

.role-style {
    color: darkgray;
}

.listContainer {
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
}


.listContainer .mat-list-item {
    height: 90px;
}

.listContainer .mat-list-avatar {
    height: 65px;
    width: 65px;
}

.listContainer2 {
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.listContainer2 .mat-list-item {
    height: 90px;
}

.listContainer2 .mat-list-avatar {
    height: 65px;
    width: 65px;
}

.mat-list-avatar {
    cursor: pointer;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.mat-list-avatar:hover {
    opacity: 0.3;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
    display: flex;
}

.chip-selection {
    opacity: 0.75;
    font-size: 0.75em;
    display: flex;
    flex-wrap: nowrap;
}

.buttonResetPass {
    width: 100%;
    --margin: 7px 0;
}

.iconRemove:hover {
    fill: red;
}

.centerField {
    width: 100%;
    margin: 0;
}
