.app-input-icon {
    font-size: 16px;
}

.imgEseDialog{
    height: 40px;
}

.role-style {
    color: darkgray;
}

.listSize {
    padding-top: 0;
}

.listSize .mat-list-item {
    height: 90px;
}

.listSize .mat-list-avatar {
    height: 65px;
    width: 65px;
}

.mat-list-avatar {
    cursor: pointer;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.mat-list-avatar:hover {
    opacity: 0.3;
}

