<mat-sidenav-container [class]="theme.themeName">

  <mat-sidenav-content>

    <div id="head" class="primaryColorBG">
      <nx-theme-picker #theme></nx-theme-picker>

      <h4>Inicia sessión</h4>
      <button id="login" mat-fab routerLink="/login" matTooltip="Ingresa!">
        <mat-icon svgIcon="login-variant"></mat-icon>
      </button>
    </div>

    <button id="line1" mat-raised-button color="accent"></button>

    <mat-card id="center" [style.background-color]="theme.isDark ? 'rgb(46, 46, 46)': 'rgb(246, 246, 246)'">
    </mat-card>

    <button id="line2" mat-raised-button color="accent"></button>

    <div id="footer" class="primaryColorBG">

      <img id="l-s" alt="logo" src="assets/images/logos/ese-logo.png">

      <h6>Powered by Daniel's &copy;2017-2018.</h6>
    </div>

    <mat-card id="content" class="mat-elevation-z8">
      <h2>Bienvenido a</h2>
      <nx-logo></nx-logo>
      <img width="180" src="assets/images/logos/ese-logo-big2.png">
    </mat-card>

  </mat-sidenav-content>

</mat-sidenav-container>