form {
    margin: 0 20px 20px;
}

.mat-action-row {
    justify-content: space-between !important;
    padding: 16px 24px !important;
}

.toolbarItems {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 56px;
    width: auto;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

mat-toolbar button {
    margin: 0 5px;
}

mat-action-row button {
    margin: 0 5px;
}

.miniFabMini {
    width: 24px;
    height: 24px;
    box-shadow: none !important;
    line-height: 12px;
}

::ng-deep .miniFabMini .mat-button-wrapper {
    font-weight: bold;
    line-height: 12px;
    padding: 0;
    padding-right: 1px;
    padding-top: 1px;
}

mat-expansion-panel-header {}


.items {
    margin: 0 20px 20px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

mat-expansion-panel mat-form-field {
    font-family: monospace;
}

.fullWith {
    width: 100%;
}

.fiftyWith {
    width: 50%;
}

.app-input-icon {
    font-size: 16px;
}

.size-mdi-icon {
    font-size: 24px;
}

mat-form-field {
    font-size: 16px;
}

