<div class="container">

  <mat-card class="mat-elevation-z8">

    <mat-toolbar>

      <mat-form-field>
        <input matInput >
        <mat-placeholder>
          <i class="mdi mdi-magnify material-icons"></i>Buscar
        </mat-placeholder>
      </mat-form-field>

      <span class="spacer-l"></span>

      <mat-chip-list >
        <mat-chip color="primary" selected="true">
          <mat-icon svgIcon="account-multiple"></mat-icon>
          &nbsp; Asignaturas
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="subjectName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Asignatura </mat-header-cell>
        <mat-cell *matCellDef="let user">

          <mat-list style="flex-grow: 8">
            <mat-list-item>

            </mat-list-item>
          </mat-list>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="crud">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let subject" class="colum2">


          <button mat-icon-button color="primary" (click)=" $event.stopPropagation()">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>

          <button mat-icon-button color="accent" (click)="$event.stopPropagation()">
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="$event.stopPropagation()">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>

          

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="rowClasses" >
        
      </mat-row>

    </mat-table>



    <span class="add">
      <button mat-fab matTooltip="Agregar Asignatura">
        <mat-icon svgIcon="account-plus"></mat-icon>
      </button>
    </span>

  </mat-card>

</div>