<div class="container">

  <mat-card class="mat-elevation-z8">

    <mat-toolbar color="primary">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-placeholder>
          <i class="mdi mdi-magnify"></i>Buscar
        </mat-placeholder>
      </mat-form-field>

      <span class="spacer-r"></span>

      <div matTooltip="Recargar {{usersRole}}">
        <mat-chip-list>
          <mat-chip color="accent" selected="true" (click)="reloadUsers()" style="cursor: pointer;">
            <mat-icon svgIcon="account-multiple"></mat-icon>
            &nbsp; {{usersRole}}
            &nbsp; <mat-icon svgIcon="refresh-circle"></mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>

    </mat-toolbar>

    <div *ngIf="!isLoading" class="divToobar backgroundColorCard"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <table mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex-grow: 2"> Nombre </th>
        <td mat-cell *matCellDef="let user" style="flex-grow: 2">

          <mat-list>
            <mat-list-item>
              <img matListAvatar
                [src]=" 'data:'+user?.avatar.type+';base64,' + user?.avatar.data | safe: 'resourceUrl' "
                alt="{{user?.username}}">
              <h3 matLine> {{user | shortNameLastname}} </h3>
              <p matLine>
                <span class="role-style">{{user.roles | rolesToSpanish}}</span>
              </p>
            </mat-list-item>
          </mat-list>

        </td>
      </ng-container>

      <ng-container matColumnDef="crud">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab *ngIf="!isAdminEditingTeacher()" (click)="crudUserDialog.openDialogCreate()"
            matTooltip="Agregar {{userRole}}" style="margin-bottom: 5px;">
            <mat-icon svgIcon="account-plus"></mat-icon>
          </button>
        </th>

        <td mat-cell *matCellDef="let user">

          <button mat-icon-button color="primary" (click)="crudUserDialog.openDialogDetail(); $event.stopPropagation()">
            <mat-icon svgIcon="eye"></mat-icon>
          </button>

          <button mat-icon-button color="accent" (click)="crudUserDialog.openDialogEdit(); $event.stopPropagation()"
            [style.visibility]="crudVisibility(user)">
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="crudUserDialog.openDialogDelete(); $event.stopPropagation()"
            [style.visibility]="crudVisibility(user)">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>

          <nx-crud-user-dialog #crudUserDialog [user]="user" [uriUsersRole]="uriUsersRole" [areaRole]="areaRole"
            [onlyRead]="isAdminEditingTeacher()">
          </nx-crud-user-dialog>

          <button *ngIf="isAdmin" mat-icon-button color="warn"
            (click)="setRoles.openDialogSetRoles(); $event.stopPropagation()">
            <mat-icon svgIcon="shield-account"></mat-icon>
          </button>

          <nx-set-roles-dialog #setRoles [user]="user" [uriUsersRole]="uriUsersRole"></nx-set-roles-dialog>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" @rowAnimation></tr>
      <tr mat-row *matRowDef="let user; columns: displayedColumns;"
        (click)="dialogCardUserSubs(cardUserDialog.openDialogCardUser())" @rowAnimation>

        <nx-card-user-dialog #cardUserDialog [user]="user" [areaRole]="areaRole" [onlyRead]="isAdminEditingTeacher()">
        </nx-card-user-dialog>

      </tr>

    </table>

    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>

  </mat-card>

</div>