<mat-toolbar color="primary">
  <img style="height: 40px" alt="logo" title="logo" src="assets/images/logos/ese-logo.png">
  <span class="spacer-r"></span>
  <mat-icon svgIcon="security-account"></mat-icon>
  <span>&nbsp;&nbsp;</span>
  <h1 mat-dialog-title>Asignar Privilégios</h1>
</mat-toolbar>

<br>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="centerField" floatLabel="always">
    <input matInput readonly>
    <mat-label>
      <i class="mdi mdi-security-account material-icons app-input-icon"></i> Se asignará a <strong>{{obj.firstName +' '+ obj.lastName}}</strong> privilégios(s) de:
    </mat-label>
    <mat-chip-list>
      <mat-chip *ngFor="let role of obj.roles" class="chip-selection" [color]="(role ==='MANAGER')? 'primary':'accent' " selected="true" >
        {{privilegeToSpanish(role)}}
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <mat-toolbar>
    <button type="button" mat-raised-button color="primary" tabindex="1" (click)="cancel()" cdkFocusRegionstart>
      Cancelar
    </button>
    <span class="spacer-r"></span>
    <button mat-raised-button color="warn" (click)="setRoles()" tabindex="2">Asignar Privilégios</button>
  </mat-toolbar>
</mat-dialog-actions>