<div *ngIf="data.type === 'detail'">
    <mat-toolbar color="primary">
        <img class="imgEseDialog" alt="logo" title="logo" src="assets/images/logos/ese-logo.png">
        <span class="spacer-r"></span>
        <mat-icon svgIcon="account-card-details"></mat-icon>
        <span>&nbsp;&nbsp;</span>
        <h1 mat-dialog-title>Detalles de {{usersRoleToSpanish(usersRole)}}</h1>
    </mat-toolbar>

    <mat-divider></mat-divider>

    <mat-list class="listContainer">
        <mat-list-item>
            <img matListAvatar [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+user?.avatar.type+';base64,' + user?.avatar.data)"
                alt="{{usersRole}}" (click)="imageZoom.openDialogImage()">
            <h3 matLine> {{user | shortNameLastname}} </h3>
            <p matLine>
                <span class="role-style">{{user.roles | rolesToSpanish}}</span>
            </p>
            <nx-image-zoom-user #imageZoom [avatar]="user.avatar"></nx-image-zoom-user>
        </mat-list-item>

    </mat-list>

    <mat-divider></mat-divider>

    <mat-dialog-content>
        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Información Personal">
                <div class="tab-content">

                    <mat-form-field appearance="fill">
                        <input matInput [(ngModel)]="user.firstName" readonly>
                        <mat-label>
                            <i class="mdi mdi-account app-input-icon">&nbsp;</i>Nombres
                        </mat-label>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput [(ngModel)]="user.lastName" readonly>
                        <mat-label>
                            <i class="mdi mdi-account-outline app-input-icon">&nbsp;</i>Apellidos
                        </mat-label>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput [(ngModel)]="user.dni" readonly>
                        <mat-label>
                            <i class="mdi mdi-barcode app-input-icon">&nbsp;</i>RUT
                        </mat-label>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput [(ngModel)]="user.birthday" readonly>
                        <mat-label>
                            <i class="mdi mdi-cake-variant app-input-icon">&nbsp;</i>Fecha de Nacimiento
                        </mat-label>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput [(ngModel)]="user.gender" readonly>
                        <mat-label>
                            <i class="mdi mdi-gender-male-female app-input-icon">&nbsp;</i>Genero
                        </mat-label>
                    </mat-form-field>

                </div>
            </mat-tab>

            <mat-tab label="Información de Contacto">
                <div class="tab-content">

                    <mat-form-field appearance="fill">
                        <mat-label>
                            <i class="mdi mdi-phone app-input-icon">&nbsp;</i>Teléfono
                        </mat-label>
                        <input matInput [(ngModel)]="user.mobile" readonly>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput [(ngModel)]="user.email" readonly>
                        <mat-label>
                            <i class="mdi mdi-email app-input-icon">&nbsp;</i>Email
                        </mat-label>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput [(ngModel)]="user.address" readonly>
                        <mat-label>
                            <i class="mdi mdi-account-location app-input-icon">&nbsp;</i>Dirección
                        </mat-label>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput [(ngModel)]="user.commune" readonly>
                        <mat-label>
                            <i class="mdi mdi-map-marker app-input-icon">&nbsp;</i>Comuna
                        </mat-label>
                    </mat-form-field>

                </div>
            </mat-tab>

            <mat-tab label="Información de Usuario">
                <div class="tab-content">

                    <mat-form-field appearance="fill">
                        <input matInput [(ngModel)]="user.username" readonly>
                        <mat-label>
                            <i class="mdi mdi-account-circle app-input-icon">&nbsp;</i>Nombre de usuario
                        </mat-label>
                    </mat-form-field>

                </div>
            </mat-tab>

        </mat-tab-group>
    </mat-dialog-content>

    <mat-divider></mat-divider>

    <mat-dialog-actions>
        <mat-toolbar>
            <button type="button" mat-mini-fab color="primary" tabindex="1" (click)="cancel()" matTooltip="volver"
                cdkFocusRegionstart>
                <mat-icon svgIcon="arrow-left"></mat-icon>
            </button>
            <span class="spacer-r"></span>
            <button *ngIf="!checkEqualOrGreaterPrivileges(userLoggedRoles, user.roles)" type="button" mat-raised-button
                color="accent" tabindex="2" (click)="detailEdit()">Editar</button>
            <button *ngIf="!checkEqualOrGreaterPrivileges(userLoggedRoles, user.roles)" type="button" mat-raised-button
                color="warn" tabindex="3" (click)="detailDelete()">Borrar</button>
        </mat-toolbar>
    </mat-dialog-actions>
</div>

<div *ngIf="data.type === 'create'">
    <form [formGroup]="createForm" (ngSubmit)="create()">

        <mat-toolbar color="primary">
            <img class="imgEseDialog" alt="logo" title="logo" src="assets/images/logos/ese-logo.png">
            <span class="spacer-r"></span>
            <mat-icon svgIcon="account-plus"></mat-icon>
            <span>&nbsp;&nbsp;</span>
            <h1 mat-dialog-title>Agregar {{usersRoleToSpanish(usersRole)}}</h1>
        </mat-toolbar>

        <div *ngIf="!isLoading" style="height: 5px;"></div>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

        <mat-list class="listContainer">
            <mat-list-item>
                <img matListAvatar [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+cAvatar?.value?.type+';base64,' + cAvatar?.value?.data)"
                    alt="{{usersRole}}" (click)="fileInput.inputElement.click()" (keyup.enter)="fileInput.inputElement.click()">
                <h3 matLine> {{cFirstName.value}} {{ cLastName.value}}</h3>
                <p matLine>
                    <span *ngIf="usersRole" class="role-style">{{usersRoleToSpanish(usersRole)}}</span>
                </p>
            </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>

        <mat-dialog-content>
            <mat-tab-group dynamicHeight="true">
                <mat-tab label="Información Personal">
                    <div class="tab-content">

                        <mat-form-field appearance="standard">
                            <input matInput formControlName="firstName" required>
                            <mat-label>
                                <i class="mdi mdi-account app-input-icon">&nbsp;</i>Nombres
                            </mat-label>
                            <mat-error *ngIf="cFirstName.hasError('required')">Nombres son
                                <strong>requeridos</strong>.
                            </mat-error>
                            <mat-error *ngIf="cFirstName.hasError('pattern')">Ingrese Nombres
                                <strong>válidos</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <input matInput formControlName="lastName" required>
                            <mat-label>
                                <i class="mdi mdi-account-outline app-input-icon">&nbsp;</i>Apellidos
                            </mat-label>
                            <mat-error *ngIf="cLastName.hasError('required')">Apellidos son
                                <strong>requeridos</strong>.
                            </mat-error>
                            <mat-error *ngIf="cLastName.hasError('pattern')">Ingrese Apellidos
                                <strong>válidos</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <input matInput formControlName="dni" placeholder="11111111-1">
                            <mat-label>
                                <i class="mdi mdi-barcode app-input-icon">&nbsp;</i>RUT
                            </mat-label>
                            <mat-error *ngIf="cDni.hasError('whitespace')">No se permiten espacios en
                                <strong>blanco</strong>.
                            </mat-error>
                            <mat-error *ngIf="cDni.hasError('checkrut') && !cDni.hasError('whitespace')">Ingrese un RUT
                                <strong>válido</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <input matInput [matDatepicker]="picker" formControlName="birthday" placeholder="1/11/1990">
                            <mat-label>
                                <i class="mdi mdi-cake-variant app-input-icon">&nbsp;</i>Fecha de Nacimiento
                            </mat-label>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="!cBirthday.valid">ingrese un Formato de Fecha
                                <strong>válido</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <mat-select formControlName="gender" (selectionChange)="setAvatarCreateDefault()">
                                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                    {{ gender.viewValue }}
                                </mat-option>
                            </mat-select>
                            <mat-label>
                                <i class="mdi mdi-gender-male-female app-input-icon">&nbsp;</i>Genero
                            </mat-label>
                        </mat-form-field>

                        <mat-form-field appearance="fill" tdFileDrop (fileDrop)="files = $event" (click)="fileInput.inputElement.click()"
                            (keyup.enter)="fileInput.inputElement.click()" (keyup.delete)="fileInput.clear(); resetCreateAvatar()"
                            (keyup.backspace)="fileInput.clear(); resetCreateAvatar()" flex>

                            <input matInput [value]="files?.length ? (files?.length + ' files') : files?.name" style="cursor:pointer"
                                readonly>
                            <mat-label>
                                <i class="mdi mdi-camera app-input-icon">&nbsp;</i>Foto de Perfil
                            </mat-label>

                            <button mat-icon-button matSuffix *ngIf="files" (click)="fileInput.clear(); resetCreateAvatar(); $event.stopPropagation()"
                                (keyup.enter)="fileInput.clear(); resetCreateAvatar()">
                                <mat-icon svgIcon="close-circle" class="iconRemove"></mat-icon>
                            </button>

                            <td-file-input hidden class="push-left-sm push-right-sm" #fileInput [(ngModel)]="files"
                                [ngModelOptions]="{standalone:true}" (select)="selectEventCreate($event)">
                                <mat-icon svgIcon="folder-upload"></mat-icon>
                                <span class="text-upper">Buscar...</span>
                            </td-file-input>
                        </mat-form-field>
                    </div>
                </mat-tab>

                <mat-tab label="Información de Contacto">
                    <div class="tab-content">

                        <mat-form-field appearance="standard">
                            <input matInput formControlName="mobile" placeholder="911222333" maxlength="9">
                            <mat-label>
                                <i class="mdi mdi-phone app-input-icon">&nbsp;</i>Teléfono
                            </mat-label>
                            <mat-hint align="end">{{cMobile?.value?.length || 0}}/9</mat-hint>
                            <mat-error *ngIf="cMobile.hasError('whitespace')">No se permiten espacios en
                                <strong>blanco</strong>.
                            </mat-error>
                            <mat-error *ngIf="cMobile.hasError('pattern') && !cMobile.hasError('whitespace')">Ingrese
                                un número de telefono
                                <strong>válido</strong>.
                            </mat-error>
                            <mat-error *ngIf="cMobile.hasError('minlength') && !cMobile.hasError('pattern')">Teléfono
                                debe ser de
                                <strong>9 dígitos</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <input matInput formControlName="email" placeholder="usuario@email.com">
                            <mat-label>
                                <i class="mdi mdi-email app-input-icon">&nbsp;</i>Email
                            </mat-label>
                            <mat-error *ngIf="cEmail.hasError('whitespace')">No se permiten espacios en
                                <strong>blanco</strong>.
                            </mat-error>
                            <mat-error *ngIf="cEmail.hasError('email') && !cEmail.hasError('whitespace')">Ingrese una
                                dirección Email
                                <strong>válida</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <input matInput formControlName="address" placeholder="Mi Calle 334">
                            <mat-label>
                                <i class="mdi mdi-account-location app-input-icon">&nbsp;</i>Dirección
                            </mat-label>
                            <mat-error *ngIf="cAddress.hasError('whitespace')">No se permiten espacios en
                                <strong>blanco</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <mat-select formControlName="commune">
                                <mat-option *ngFor="let commune of communes" [value]="commune.value">
                                    {{ commune.viewValue }}
                                </mat-option>
                            </mat-select>
                            <mat-label>
                                <i class="mdi mdi-map-marker app-input-icon">&nbsp;</i>Comuna
                            </mat-label>
                        </mat-form-field>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </mat-dialog-content>

        <mat-divider></mat-divider>

        <mat-dialog-actions>
            <mat-toolbar>
                <button type="button" mat-mini-fab color="primary" tabindex="1" (click)="cancel()" matTooltip="volver"
                    cdkFocusRegionstart>
                    <mat-icon svgIcon="arrow-left"></mat-icon>
                </button>
                <span class="spacer-r"></span>
                <button type="submit" mat-raised-button color="accent" tabindex="2" [disabled]="createForm.invalid || createForm.pristine">Agregar</button>
            </mat-toolbar>
        </mat-dialog-actions>
    </form>
</div>

<div *ngIf="data.type === 'edit'">
    <form [formGroup]="editForm" (ngSubmit)="save()">

        <mat-toolbar color="primary">
            <img class="imgEseDialog" alt="logo" title="logo" src="assets/images/logos/ese-logo.png">
            <span class="spacer-r"></span>
            <mat-icon svgIcon="account-edit"></mat-icon>
            <span>&nbsp;&nbsp;</span>
            <h1 mat-dialog-title>Editar {{usersRoleToSpanish(usersRole)}}</h1>
        </mat-toolbar>

        <div *ngIf="!isLoading" style="height: 5px;"></div>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

        <mat-list class="listContainer">
            <mat-list-item>
                <img matListAvatar [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+eAvatar?.value?.type+';base64,' + eAvatar?.value?.data)"
                    alt="{{usersRole}}" [matMenuTriggerFor]="avatarMenu">
                <h3 matLine> {{user | shortNameLastname}} </h3>
                <p matLine>
                    <span class="role-style">{{user.roles | rolesToSpanish}}</span>
                </p>

                <mat-menu x-position="before" #avatarMenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item (click)="imageZoom.openDialogImage()">
                        <mat-icon svgIcon="eye"></mat-icon>
                        <span> Ver Imagen </span>
                    </button>
                    <button mat-menu-item (click)="fileInput.inputElement.click()" (keyup.enter)="fileInput.inputElement.click()">
                        <mat-icon svgIcon="camera"></mat-icon>
                        <span> Cambiar Imagen </span>
                    </button>
                    <button mat-menu-item (click)="setAvatarEditDefaultMenu(); fileInput.clear()" (keyup.enter)="setAvatarEditDefaultMenu(); fileInput.clear()">
                        <mat-icon svgIcon="camera"></mat-icon>
                        <span> Imagen por defecto </span>
                    </button>
                </mat-menu>
            </mat-list-item>
            <nx-image-zoom-user #imageZoom [avatar]="user.avatar"></nx-image-zoom-user>
        </mat-list>

        <mat-divider></mat-divider>

        <mat-dialog-content>
            <mat-tab-group dynamicHeight="true">


                <mat-tab label="Información Personal">
                    <div class="tab-content">

                        <mat-form-field appearance="standard">
                            <input matInput formControlName="firstName" required>
                            <mat-label>
                                <i class="mdi mdi-account app-input-icon">&nbsp;</i>Nombres
                            </mat-label>
                            <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
                            <mat-error *ngIf="eFirstName.hasError('required')">Nombres son
                                <strong>requeridos</strong>.
                            </mat-error>
                            <mat-error *ngIf="eFirstName.hasError('pattern')">Ingrese Nombres
                                <strong>válidos</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <mat-label>
                                <i class="mdi mdi-account-outline app-input-icon">&nbsp;</i>Apellidos
                            </mat-label>
                            <input matInput formControlName="lastName" required>
                            <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
                            <mat-error *ngIf="eLastName.hasError('required')">Apellidos son
                                <strong>requeridos</strong>.
                            </mat-error>
                            <mat-error *ngIf="eLastName.hasError('pattern')">Ingrese Apellidos
                                <strong>válidos</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <input matInput formControlName="dni" placeholder="11111111-1">
                            <mat-label>
                                <i class="mdi mdi-barcode app-input-icon">&nbsp;</i>RUT
                            </mat-label>
                            <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
                            <mat-error *ngIf="eDni.hasError('whitespace')">No se permiten espacios en
                                <strong>blanco</strong>.
                            </mat-error>
                            <mat-error *ngIf="eDni.hasError('checkrut') && !eDni.hasError('whitespace')">Ingrese un RUT
                                <strong>válido</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <input matInput [matDatepicker]="picker" formControlName="birthday" placeholder="1/11/1990">
                            <mat-label>
                                <i class="mdi mdi-cake-variant app-input-icon">&nbsp;</i>Fecha de Nacimiento
                            </mat-label>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="!eBirthday.valid">ingrese un Formato de Fecha
                                <strong>válido</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <mat-select formControlName="gender" [compareWith]="compareFn" (selectionChange)="setAvatarEditDefault()">
                                <mat-option *ngFor="let gender of genders" [value]="gender.viewValue">
                                    {{ gender.viewValue }}
                                </mat-option>
                            </mat-select>
                            <mat-label>
                                <i class="mdi mdi-gender-male-female app-input-icon">&nbsp;</i>Genero
                            </mat-label>
                        </mat-form-field>


                    </div>
                </mat-tab>

                <mat-tab label="Información de Contacto">
                    <div class="tab-content">

                        <mat-form-field appearance="standard">
                            <input matInput [type]="tel" formControlName="mobile" maxlength="9" placeholder="911222333">
                            <mat-label>
                                <i class="mdi mdi-phone app-input-icon">&nbsp;</i>Teléfono
                            </mat-label>
                            <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
                            <mat-hint align="end">{{eMobile.value?.length || 0}}/9</mat-hint>
                            <mat-error *ngIf="eMobile.hasError('whitespace')">No se permiten espacios en
                                <strong>blanco</strong>.
                            </mat-error>
                            <mat-error *ngIf="eMobile.hasError('pattern') && !eMobile.hasError('whitespace')">Ingrese
                                un número de telefono
                                <strong>válido</strong>.
                            </mat-error>
                            <mat-error *ngIf="eMobile.hasError('minlength') && !eMobile.hasError('pattern')">Teléfono
                                debe ser de
                                <strong>9 dígitos</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <input matInput formControlName="email" placeholder="usuario@email.com">
                            <mat-label>
                                <i class="mdi mdi-email app-input-icon">&nbsp;</i>Email
                            </mat-label>
                            <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
                            <mat-error *ngIf="eEmail.hasError('whitespace')">No se permiten espacios en
                                <strong>blanco</strong>.
                            </mat-error>
                            <mat-error *ngIf="eEmail.hasError('email') && !eEmail.hasError('whitespace')">Ingrese una
                                dirección Email
                                <strong>válida</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <input matInput formControlName="address" placeholder="Mi Calle 334">
                            <mat-label>
                                <i class="mdi mdi-account-location app-input-icon">&nbsp;</i>Dirección
                            </mat-label>
                            <i class="mdi mdi-pencil app-input-icon" matSuffix></i>
                            <mat-error *ngIf="eAddress.hasError('whitespace')">No se permiten espacios en
                                <strong>blanco</strong>.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <mat-select formControlName="commune" [compareWith]="compareFn">
                                <mat-option *ngFor="let commune of communes" [value]="commune.viewValue">
                                    {{ commune.viewValue }}
                                </mat-option>
                            </mat-select>
                            <mat-label>
                                <i class="mdi mdi-map-marker app-input-icon">&nbsp;</i>Comuna
                            </mat-label>
                        </mat-form-field>

                    </div>
                </mat-tab>


                <mat-tab label="Información de Usuario">
                    <div class="tab-content">

                        <mat-form-field appearance="standard">
                            <mat-label>
                                <i class="mdi mdi-account-circle app-input-icon">&nbsp;</i>Nombre de Usuario
                            </mat-label>
                            <input matInput formControlName="username">
                        </mat-form-field>

                        <mat-form-field class="photo" appearance="fill" tdFileDrop (fileDrop)="files = $event" (click)="fileInput.inputElement.click()"
                            (keyup.enter)="fileInput.inputElement.click()" (keyup.delete)="fileInput.clear(); resetEditAvatar()"
                            (keyup.backspace)="fileInput.clear(); resetEditAvatar()" flex>

                            <mat-label>
                                <i class="mdi mdi-camera app-input-icon">&nbsp;</i>Foto de Perfil
                            </mat-label>
                            <input matInput [value]="files?.length ? (files?.length + ' files') : files?.name" style="cursor:pointer"
                                readonly>

                            <button mat-icon-button matSuffix *ngIf="files" (click)="fileInput.clear(); resetEditAvatar(); $event.stopPropagation()"
                                (keyup.enter)="fileInput.clear(); resetEditAvatar()">
                                <mat-icon svgIcon="close-circle" class="iconRemove"></mat-icon>
                            </button>

                            <td-file-input hidden class="push-left-sm push-right-sm" #fileInput [(ngModel)]="files"
                                [ngModelOptions]="{standalone:true}" (select)="selectEventEdit($event)">
                                <mat-icon svgIcon="folder-upload"></mat-icon>
                                <span class="text-upper">Buscar...</span>
                            </td-file-input>
                        </mat-form-field>

                        <mat-form-field appearance="standard" floatLabel="always">
                            <mat-label>
                                <i class="mdi mdi-lock app-input-icon">&nbsp;</i>Contraseña de Usuario
                            </mat-label>
                            <input matInput readonly>
                            <button type="button" mat-raised-button color="warn" class="buttonResetPass" (click)="resetPass.openDialogResetPass()">
                                <mat-icon svgIcon="lock-reset"></mat-icon>&nbsp; Restablecer Contraseña
                            </button>
                            <nx-reset-pass-dialog #resetPass [user]="user" [uriRole]="uriRole"></nx-reset-pass-dialog>
                        </mat-form-field>

                        <mat-form-field appearance="standard" floatLabel="always" *ngIf="isAdmin && (usersRole!='student')">
                            <mat-label>
                                <i class="mdi mdi-security-account app-input-icon">&nbsp;</i>Privilegios de Usuario
                            </mat-label>
                            <input matInput readonly>
                            <button type="button" mat-raised-button color="warn" class="buttonResetPass" (click)="editRolesSubs(setRoles.openDialogSetRoles())">
                                <mat-icon svgIcon="security-account"></mat-icon>&nbsp; Añadir o remover Privilegios
                            </button>
                            <nx-set-roles-dialog #setRoles [user]="user" [uriRole]="uriRole"></nx-set-roles-dialog>
                        </mat-form-field>

                    </div>


                </mat-tab>

            </mat-tab-group>
        </mat-dialog-content>


        <mat-divider></mat-divider>

        <mat-dialog-actions>
            <mat-toolbar>
                <button type="button" mat-mini-fab color="primary" tabindex="1" (click)="cancel()" matTooltip="volver"
                    cdkFocusRegionstart>
                    <mat-icon svgIcon="arrow-left"></mat-icon>
                </button>
                <span class="spacer-r"></span>
                <button type="submit" mat-raised-button color="accent" tabindex="2" [disabled]="editForm.invalid || editForm.pristine">Guardar</button>
            </mat-toolbar>
        </mat-dialog-actions>
    </form>

</div>

<div *ngIf="data.type === 'delete'">
    <mat-toolbar color="primary">
        <img class="imgEseDialog" alt="logo" title="logo" src="assets/images/logos/ese-logo.png">
        <span class="spacer-r"></span>
        <mat-icon svgIcon="account-remove"></mat-icon>
        <span>&nbsp;&nbsp;</span>
        <h1 mat-dialog-title>Borrar {{usersRoleToSpanish(usersRole)}}</h1>
    </mat-toolbar>
    <div *ngIf="!isLoading" style="height: 5px;"></div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>

    <div class="listContainer2">
        <mat-list>
            <mat-list-item>
                <img matListAvatar [src]="sanitizer.bypassSecurityTrustResourceUrl('data:'+user?.avatar.type+';base64,' + user?.avatar.data)"
                    alt="{{usersRole}}" (click)="imageZoom.openDialogImage()">
                <h3 matLine> {{user | shortNameLastname}}</h3>
                <p matLine>
                    <span class="role-style">{{user.roles | rolesToSpanish}}</span>
                </p>
            </mat-list-item>
            <nx-image-zoom-user #imageZoom [avatar]="user.avatar"></nx-image-zoom-user>
        </mat-list>
    </div>
    <mat-divider></mat-divider>

    <mat-dialog-actions>
        <mat-toolbar>
            <button type="button" mat-raised-button color="primary" tabindex="1" (click)="cancel()" cdkFocusRegionstart>
                Cancelar
            </button>
            <span class="spacer-r"></span>
            <button type="button" mat-raised-button color="warn" (click)="delete()" tabindex="2">Borrar</button>
        </mat-toolbar>
    </mat-dialog-actions>
</div>