mat-dialog-content {
    overflow-x: hidden;
    padding: 25px 30px 10px;
    margin: 0;
}

mat-dialog-actions {
    margin: 0;
    padding: 0;
}

.app-input-icon {
    font-size: 16px;
}

.centerField {
    width: 100%;
    margin: 0;
}

.errorRoles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.75em;
    color: red;
}

.chip-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.container {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}