@import '~@angular/material/theming';


//custom-themes
@import './assets/custom-themes/pink-purple.scss';
@import './assets/custom-themes/indigo-pink.scss';
@import './assets/custom-themes/orange-blue.scss';
@import './assets/custom-themes/deeppurple-amber.scss';
@import './assets/custom-themes/blue-grey.scss';
@import './assets/custom-themes/pink-bluegrey.scss';



// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();


// Define the default theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);





