<mat-sidenav-container id="container" #container [class]="themePicker.themeName">

    <!-- toolbar -->
    <mat-toolbar color="primary" class="toolbar1">
        <span>
            <button type="button" mat-icon-button (click)="sidenavMenu.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </span>

        <span>
            <a class="home" routerLink='./'>
                <img alt="Home" title="Home" src="assets/images/logos/ese-logo.png">
            </a>
        </span>

        <span class="spacer-l"></span>
        <nx-full-screen></nx-full-screen>
        <nx-theme-picker></nx-theme-picker>

        <button type="button" mat-icon-button (click)="sidenavChat.toggle()" matTooltip="chat">
            <mat-icon>chat</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container id="container2">

        <!-- sidenav menu -->
        <mat-sidenav mode="side" opened="true" #sidenavMenu class="sidenav">

            <!-- sidenav toobar -->
            <mat-toolbar class="side-toolbar">
                <mat-list>
                    <mat-list-item>
                        <img matListAvatar src="assets/images/users/admin.jpg" alt="admin">
                        <h3 matLine> {{user?.username}} </h3>
                        <p matLine>
                            <span>{{role}}</span>
                        </p>
                    </mat-list-item>
                </mat-list>
                <span class="spacer-l"></span>
                <button mat-icon-button [matMenuTriggerFor]="settings">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-toolbar>

            <mat-menu x-position="before" #settings="matMenu" [overlapTrigger]="false">
                <button mat-menu-item (click)="sidenavSettings.toggle()">
                    <mat-icon> settings </mat-icon>
                    <span> Preferencias </span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon> power_settings_new </mat-icon>
                    <span> Salir </span>
                </button>
            </mat-menu>


            <!-- sidenav settings -->
            <mat-sidenav mode="side" opened="false" #sidenavSettings class="sidenav">

                <!-- sidenav settings toobar -->
                <mat-toolbar color="accent" class="side-toolbar">
                    <button mat-icon-button (click)="sidenavSettings.toggle()">
                        <mat-icon> arrow_back </mat-icon>
                    </button>
                    <span class="spacer-c"></span>
                    <h1>Preferencias</h1>
                </mat-toolbar>

                <!-- sidenav content -->
                <mat-nav-list class="menu">
                    <mat-list-item>
                        <h3 matLine>Nombre: {{user?.userName}}</h3>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 matLine>Telefono: {{user?.mobile}}</h3>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 matLine>Dirección: {{user?.address}}</h3>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 matLine>Mail: {{user?.email}}</h3>
                    </mat-list-item>
                </mat-nav-list>

            </mat-sidenav>

            <!-- sidenav menu -->
            <mat-nav-list class="menu">
               
                <nx-home-menu [privilege]='privilege' [roles]='roles'></nx-home-menu>

                <mat-list-item (click)="triggerUsers = !triggerUsers">
                    <mat-icon matListIcon>person</mat-icon>
                    <h3 matLine>Usuarios</h3>
                    <mat-icon [@tdRotate]="!triggerUsers">arrow_drop_down</mat-icon>
                </mat-list-item>
                <div [@tdCollapse]="triggerUsers">
                    <nx-users-menu [privilege]='privilege' [roles]='roles'></nx-users-menu>
                </div>


            </mat-nav-list>

        </mat-sidenav>


        <!-- sidenav chat -->
        <mat-sidenav mode="side" position="end" opened="false" #sidenavChat class="sidenav">

            <!-- sidenav toobar -->
            <mat-toolbar class="side-toolbar">
            </mat-toolbar>

            <!-- sidenav content -->
            <mat-nav-list class="menu">
            </mat-nav-list>

        </mat-sidenav>


        <!-- toolbar2 -->
        <mat-toolbar class="toolbar2">
            <span class="spacer-c"></span>
            <nx-logo [jelloState]=scrolled></nx-logo>
        </mat-toolbar>

        <!-- primary content -->
        <div class="content" nxScroller (scrollEvent)="scrolled=$event" [style.background-color]="themePicker.isDark ? 'rgb(26, 26, 26)' : 'rgb(226, 226, 226)' ">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-container>

</mat-sidenav-container>