.myWrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.p-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.mainToolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.19), 0 0 3px rgba(0, 0, 0, 0.23);

}

.mainToolbar,
.mainToolbar h3 {
    font: unset !important;

}

.mainToolbar mat-list {
    padding: 0;
    width: inherit;
}

.mainToolbar mat-list-item {
    height: 55px !important;
    color: inherit !important;
}

::ng-deep .mainToolbar mat-list .mat-list-item .mat-list-item-content {
    padding: 12px;
}


.imgLogo {
    margin-left: 8px;
    height: 40px;
}


.profileMini {
    display: flex;
    align-items: center;
}

.sidenavContainer {
    height: 100%;
    margin-top: 64px;
}

.sidenav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.19), 0 0 3px rgba(0, 0, 0, 0.23);
    width: 350px;
    position: fixed;
    top: 64px;
    bottom: 0;
}

.sidenavMainMenu {
    overflow-y: auto;
    width: inherit;
    position: absolute;
    top: 64px;
    bottom: 64px;
    overflow-x: hidden;
}

::ng-deep .sidenavMainMenu h3 {
    font-weight: bold !important;

}

.sidenavToolbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.19), 0 0 3px rgba(0, 0, 0, 0.23);
    padding-left: 0;
    overflow: hidden;
}

.sidenavToolbar,
.sidenavToolbar h3 {
    font: unset !important;
}

.sidenavToolbar mat-list {
    padding: 0;
    width: inherit;
}

.sidenavToolbar mat-list-item {
    height: 55px !important;
}

::ng-deep .sidenavToolbar mat-list .mat-list-item .mat-list-item-content {
    padding: 12px;
}

.sidenavToolbarFooter {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.19), 0 0 3px rgba(0, 0, 0, 0.23);
    padding-left: 12px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}


.menu:hover {
    --overflow-y: overlay;
    /* damn mozilla */
}

.roles {
    color: darkgray;
}

.sideToolbarProfileMenu {
    overflow-y: auto;
    width: inherit;
    position: absolute;
    top: 192px;
    bottom: 0;

}

.sideToolbarProfileMenu .mat-list-item {
    --display: flex;
    --justify-content: center;
}


.listAvatarContainer {
    padding-top: 0;
}

.listAvatarContainer .mat-list-item {
    height: 128px;
}

::ng-deep .listAvatarContainer .mat-list-item .mat-list-item-content {
    justify-content: center;

    padding: 0;
}

.listAvatarContainer .mat-list-avatar {
    height: 100px;
    width: 100px;
}


.mat-list-avatar {
    cursor: pointer;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.mat-list-avatar:hover {
    opacity: 0.3;
}



/* primary content */

mat-sidenav-content {

}

.toolbar2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.19), 0 0 3px rgba(0, 0, 0, 0.23);
}

.contenido {
    position: absolute;
    top: 0;
    bottom: 64px;
    width: 100%;
}