<!--<div matTooltip="Tema Oscuro" *ngIf="!isDark" style="display: inline">
    <button id="btnDark" mat-icon-button (click)="installDarkTheme()">
        <mat-icon svgIcon="brightness-7"></mat-icon>
    </button>
</div>

<div matTooltip="Tema Claro" *ngIf="isDark" style="display: inline">
    <button id="btnLight" mat-icon-button (click)="installLightTheme()">
        <mat-icon svgIcon="brightness-5"></mat-icon>
    </button>
</div>-->

<div [matTooltip] =" (isDark) ? 'Tema Claro' : 'Tema Oscuro' " style="display: inline">
    <button id="btnLight" mat-icon-button (click)=" (isDark) ? installLightTheme() : installDarkTheme() ">
        <mat-icon svgIcon="theme-light-dark"></mat-icon>
    </button>
</div>



<div matTooltip="Selecciona un Tema!" style="display: inline">
    <button id = "btnMenu" mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon svgIcon="palette"></mat-icon>
    </button>
</div>


<mat-menu class="docs-theme-picker-menu" #themeMenu="matMenu" x-position="before" [overlapTrigger]="false">
    <mat-grid-list cols="2">
        <mat-grid-tile *ngFor="let theme of themeArray">
            <div mat-menu-item (click)="installTheme(theme); saveThemeOnServer(user?.id,theme)" (mouseover)="mouseOverTheme(theme)" (mouseout)="mouseOutTheme()">
                <div class="docs-theme-picker-swatch">
                    <mat-icon svgIcon="checkbox-marked-circle" class="docs-theme-chosen-icon" *ngIf="themeName === theme.name" [style.color]="theme.accentColor"></mat-icon>
                    <div class="docs-theme-picker-primary" [style.background]="theme.primaryColor"></div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-menu>