<div class="container">

  <mat-card class="mat-elevation-z8">
    <h2>Welcome to Manager Home</h2>
    <img width="180" src="assets/images/logos/ese-logo-big2.png">
  </mat-card>

  <button color="primary" mat-raised-button [routerLink]="['/welcome']">WELCOME</button>
  <button color="accent" mat-raised-button [routerLink]="['/login']">LOGIN</button>
  <button color="warn" mat-raised-button [routerLink]="['/jjghdd']">404</button>

  <div class="bgColors">
    <button mat-raised-button class="primaryColorBG">primaryColorBG</button>
    <button mat-raised-button class="primaryLighterColorBG">primaryLighterColorBG</button>
    <button mat-raised-button class="primaryDarkerColorBG">primaryDarkerColorBG</button>
    <button mat-raised-button class="primaryAccentColorBG">primaryAccentColorBG</button>
    <button mat-raised-button class="primaryAccentLighterColorBG">primaryAccentLighterColorBG</button>
    <button mat-raised-button class="primaryAccentDarkerColorBG">primaryAccentDarkerColorBG</button>

    <button mat-raised-button class="accentColorBG">accentColorBG</button>
    <button mat-raised-button class="accentLighterColorBG">accentLighterColorBG</button>
    <button mat-raised-button class="accentDarkerColorBG">accentDarkerColorBG</button>

    <button mat-raised-button class="warnColorBG">warnColorBG</button>
    <button mat-raised-button class="warnLighterColorBG">warnLighterColorBG</button>
    <button mat-raised-button class="warnDarkerColorBG">warnDarkerColorBG</button>
  </div>

</div>