:host {
    display: block;
    width: 100%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}

.toolbarSubjectMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    z-index: 1;
    height: 56px;
}

.routerWrapper {
    position: absolute;
    top: 56px;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}


.active {
    background: hsla(0, 0%, 0%, 0.1) !important;
}