<div class="container">

    <mat-toolbar color="accent" class="toolbarMenu">



        <button mat-button [routerLink]="['./course' , subjectId ]">Curso</button>
        <button mat-button [routerLink]="['./evaluations' , subjectId]">Evaluaciones</button>
        <button mat-button [routerLink]="['./quiz' , subjectId]" *ngIf="areaRole === roleTeacher">Tomar Prueba</button>
        <button mat-button [routerLink]="['./list' , subjectId]" *ngIf="areaRole === roleTeacher">Pasar Lista</button>
        <button mat-button [routerLink]="['./book' , subjectId]" *ngIf="areaRole === roleTeacher">Libro de
            Clases</button>

        <span class="spacer-r"></span>

        <ng-container *ngIf="areaRole === roleManager">

            <button mat-mini-fab color="primary" [matMenuTriggerFor]="menuCoursesSubjects">
                <mat-icon svgIcon="school"></mat-icon>
            </button>


            <mat-menu #menuCoursesSubjects="matMenu">
                <ng-container *ngFor="let c of coursesSubjects">
                    <button mat-menu-item [matMenuTriggerFor]="menuSubjectsCourse">{{c?.name}}</button>

                    <mat-menu #menuSubjectsCourse="matMenu">
                        <ng-container *ngFor="let s of getSubjectsByCourse(c)">
                            <button mat-menu-item (click)="navigateSubject(s.id)">{{s.name}}</button>
                        </ng-container>
                    </mat-menu>

                </ng-container>
            </mat-menu>

        </ng-container>


        <ng-container *ngIf="areaRole === roleTeacher">
            <button mat-mini-fab color="primary" [matMenuTriggerFor]="menuCourses">
                <mat-icon svgIcon="school"></mat-icon>
            </button>

            <mat-menu #menuCourses="matMenu">
                <ng-container *ngFor="let c of coursesTeacher">
                    <button mat-menu-item [matMenuTriggerFor]="menuSubjects">{{c?.name}}</button>

                    <mat-menu #menuSubjects="matMenu">
                        <ng-container *ngFor="let s of getSubjectsTeacherByCourse(c)">
                            <button mat-menu-item (click)="navigateSubject(s.id)">{{s.name}}</button>
                        </ng-container>
                    </mat-menu>

                </ng-container>
            </mat-menu>

        </ng-container>

    </mat-toolbar>

    <div class="container2">
        <router-outlet></router-outlet>
    </div>

</div>