.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

mat-card {
    min-width: 400px;
    max-width: 650px;
    width: 620px;
    margin: 0 auto 20px;
    padding: 0;
    top: 20px;
}


mat-toolbar-row {
    padding: 0;
}

mat-form-field {
    font-size: 14px;
    width: 50%;
    padding-top: 10px;
}

 .toolbar2{
    padding-bottom: 5px !important;
    height: 59px !important;
}

.fila:hover {
    --cursor: pointer;
    background: #f5f5f5;
}

.fila:active {
    background: #eaeaea;
}

.fila-dark:hover {
    
    background: #353535;
}

.fila-dark:active {
    background: #292929;
}

.mat-list-avatar {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.mat-list-avatar:hover {
    opacity: 0.3;
}

.mat-list-avatar:hover {
    opacity: 0.3;
}

mat-list {
    padding: 0;
}

.add {
    justify-content: flex-end !important;
    padding-right: 30px !important;
}

.crud {
    justify-content: flex-end !important;
    padding-right: 30px !important;
}

mat-list-item {
    height: 60px !important;
}

mat-list-item h3 {
    line-height: 17px !important;
}

mat-list-item p {
    line-height: 20px !important;
}

.role-style {
    color: darkgray;
}



